# Stack Overflow survey 2011-2022 preprocess

In this notebook we go thorugh the required preprocess to get the 25 variables used in the dashboard. The variable names are Year, SurveyLength SOaccount, Country, Age, Gender, Ethnicity, EdLevel, YearsCode,, Employment, DevType, OrgSize, CompFreq, CompTotal, ConvertedCompYearly, OpSys, Age, LanguageHave, LanguageDesire, DatabaseHave, DatabaseDesire, WebframeHave, WebframeDesire, PlatformHave, PlatformDesire. The idea of this preprocess is to unify related questions into these columns.

In [ ]:
import pandas as pd
import numpy as np
import csv
import chardet

# 2022 and 2021

In the following code we unite similar question columns using sets, which allows us to make a dataframe that has the answers of both datasets.

In [30]:
one_df = pd.read_csv('Data_2011-2022\\survey_results_public_2022.csv')
two_df = pd.read_csv('Data_2011-2022\\survey_results_public_2021.csv')
one_df['Year'] = [2022] * one_df.shape[0]
two_df['Year'] = [2021] * two_df.shape[0]

In [32]:
print(len(one_df.columns))
print(one_df.columns)

80
Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly',
       'Year'],
      dtype='object')

In [33]:
print(len(two_df.columns))
print(two_df.columns)

49
Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly', 'Year'],
      dtype='object')

In [34]:
one_question_set = set(one_df.columns) 
two_question_set = set(two_df.columns) 

common_elements_one = one_question_set.intersection(two_question_set)
print(len(common_elements_one))
print(common_elements_one)

43
{'YearsCodePro', 'Currency', 'SOAccount', 'ResponseId', 'NEWSOSites', 'Age', 'LanguageWantToWorkWith', 'Employment', 'Accessibility', 'Year', 'SurveyLength', 'Gender', 'MentalHealth', 'SurveyEase', 'PlatformWantToWorkWith', 'MiscTechWantToWorkWith', 'DevType', 'DatabaseHaveWorkedWith', 'Ethnicity', 'WebframeWantToWorkWith', 'SOComm', 'MainBranch', 'YearsCode', 'LearnCode', 'SOPartFreq', 'NEWCollabToolsWantToWorkWith', 'EdLevel', 'LanguageHaveWorkedWith', 'ToolsTechHaveWorkedWith', 'CompTotal', 'Country', 'PlatformHaveWorkedWith', 'SOVisitFreq', 'MiscTechHaveWorkedWith', 'ConvertedCompYearly', 'DatabaseWantToWorkWith', 'ToolsTechWantToWorkWith', 'CompFreq', 'Sexuality', 'WebframeHaveWorkedWith', 'Trans', 'OrgSize', 'NEWCollabToolsHaveWorkedWith'}

Here we notice that a relevant questions 'OpSysProfessional use' and 'OpSys' are being left out, so we need to add it individually.

In [35]:
list(one_question_set - common_elements_one)

['Knowledge_2',
 'VCHostingPersonal use',
 'LearnCodeOnline',
 'OfficeStackSyncWantToWorkWith',
 'Frequency_2',
 'TrueFalse_2',
 'TimeAnswering',
 'ICorPM',
 'VCHostingProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'Knowledge_1',
 'TrueFalse_3',
 'OfficeStackAsyncWantToWorkWith',
 'Onboarding',
 'Frequency_3',
 'Knowledge_3',
 'VersionControlSystem',
 'TimeSearching',
 'ProfessionalTech',
 'OpSysProfessional use',
 'OfficeStackSyncHaveWorkedWith',
 'BuyNewTool',
 'OpSysPersonal use',
 'Knowledge_7',
 'PurchaseInfluence',
 'Blockchain',
 'CodingActivities',
 'Frequency_1',
 'WorkExp',
 'LearnCodeCoursesCert',
 'RemoteWork',
 'Knowledge_4',
 'TrueFalse_1',
 'VCInteraction',
 'Knowledge_5',
 'TBranch',
 'Knowledge_6']

In [36]:
list(two_question_set - common_elements_one)

['OpSys', 'US_State', 'NEWOtherComms', 'UK_Country', 'NEWStuck', 'Age1stCode']

In [41]:
unified_df_first = pd.concat([one_df[list(common_elements_one)],two_df[list(common_elements_one)]], ignore_index=True)
unified_df_first['OpSys'] = list(one_df['OpSysProfessional use']) + list(two_df['OpSys'])

Here is the unified dataframe. We will not reduce the amount of columns to make it easier to catch relevant columns using sets.

In [42]:
unified_df_first

,YearsCodePro,Currency,SOAccount,ResponseId,NEWSOSites,Age,LanguageWantToWorkWith,Employment,Accessibility,Year,...,ConvertedCompYearly,DatabaseWantToWorkWith,ToolsTechWantToWorkWith,CompFreq,Sexuality,WebframeHaveWorkedWith,Trans,OrgSize,NEWCollabToolsHaveWorkedWith,OpSys
0,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CAD\tCanadian dollar,Yes,2,Collectives on Stack Overflow;Stack Overflow f...,NaN,Rust;TypeScript,"Employed, full-time",NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS
2,5,GBP\tPound sterling,Yes,3,Collectives on Stack Overflow;Stack Overflow;S...,25-34 years old,C#;C++;HTML/CSS;JavaScript;TypeScript,"Employed, full-time",None of the above,2022,...,40205.0,Microsoft SQL Server,NaN,Yearly,Bisexual,Angular.js,No,20 to 99 employees,Notepad++;Visual Studio,Windows
3,17,ILS\tIsraeli new shekel,Yes,4,Collectives on Stack Overflow;Stack Overflow f...,35-44 years old,C#;SQL;TypeScript,"Employed, full-time",None of the above,2022,...,215232.0,Microsoft SQL Server,NaN,Monthly,Straight / Heterosexual,ASP.NET;ASP.NET Core,No,100 to 499 employees,Notepad++;Visual Studio;Visual Studio Code,Windows
4,3,USD\tUnited States dollar,Yes,5,Collectives on Stack Overflow;Stack Overflow f...,25-34 years old,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,"Employed, full-time",NaN,2022,...,NaN,Cloud Firestore;Elasticsearch;Firebase Realtim...,Docker;Kubernetes,NaN,NaN,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,NaN,20 to 99 employees,Notepad++;Visual Studio;Visual Studio Code;Xcode,Windows
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156702,5,USD\tUnited States dollar,No,83435,Stack Overflow;Stack Exchange,25-34 years old,Clojure,Employed full-time,None of the above,2021,...,160500.0,SQLite,Git;Kubernetes,Yearly,Straight / Heterosexual,NaN,No,20 to 99 employees,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS
156703,2,XOF\tWest African CFA franc,Yes,83436,Stack Overflow;Stack Exchange,18-24 years old,NaN,"Independent contractor, freelancer, or self-em...",None of the above,2021,...,3960.0,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,Docker;Git;Kubernetes,Monthly,Straight / Heterosexual,Django;jQuery;Laravel;React.js;Ruby on Rails,No,"Just me - I am a freelancer, sole proprietor, ...",Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based
156704,4,USD\tUnited States dollar,Yes,83437,Stack Overflow;Stack Exchange,25-34 years old,Java;Python,Employed full-time,None of the above,2021,...,90000.0,DynamoDB;Redis,Docker;Git;Kubernetes;Terraform,Weekly,NaN,FastAPI;Flask,No,"10,000 or more employees",Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows
156705,3,CAD\tCanadian dollar,Yes,83438,Stack Overflow,25-34 years old,Go;Rust,Employed full-time,None of the above,2021,...,816816.0,NaN,Kubernetes;Terraform,Monthly,Straight / Heterosexual,Django;Express;Flask;React.js,No,20 to 99 employees,PyCharm;Sublime Text,MacOS
156706,4,BRL\tBrazilian real,Yes,83439,Stack Overflow;Stack Exchange;Stack Overflow f...,18-24 years old,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Employed full-time,None of the above,2021,...,21168.0,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Docker;Git;Kubernetes,Monthly,Straight / Heterosexual,Angular;Spring,No,I don’t know,IntelliJ;Visual Studio Code,Linux-based

# 2021-2022 and 2020

Same idea as in the previous unification.

In [44]:
three_df = pd.read_csv('Data_2011-2022\\survey_results_public_2020.csv')
three_df['Year'] = [2020] * three_df.shape[0]

In [45]:
print(len(three_df.columns))
print(three_df.columns)

62
Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro', 'Year'],
      dtype='object')

In [46]:
print(len(unified_df_first.columns))
print(unified_df_first.columns)

44
Index(['YearsCodePro', 'Currency', 'SOAccount', 'ResponseId', 'NEWSOSites',
       'Age', 'LanguageWantToWorkWith', 'Employment', 'Accessibility', 'Year',
       'SurveyLength', 'Gender', 'MentalHealth', 'SurveyEase',
       'PlatformWantToWorkWith', 'MiscTechWantToWorkWith', 'DevType',
       'DatabaseHaveWorkedWith', 'Ethnicity', 'WebframeWantToWorkWith',
       'SOComm', 'MainBranch', 'YearsCode', 'LearnCode', 'SOPartFreq',
       'NEWCollabToolsWantToWorkWith', 'EdLevel', 'LanguageHaveWorkedWith',
       'ToolsTechHaveWorkedWith', 'CompTotal', 'Country',
       'PlatformHaveWorkedWith', 'SOVisitFreq', 'MiscTechHaveWorkedWith',
       'ConvertedCompYearly', 'DatabaseWantToWorkWith',
       'ToolsTechWantToWorkWith', 'CompFreq', 'Sexuality',
       'WebframeHaveWorkedWith', 'Trans', 'OrgSize',
       'NEWCollabToolsHaveWorkedWith', 'OpSys'],
      dtype='object')

In [48]:
unified_question_set_one = set(unified_df_first.columns) 
three_question_set = set(three_df.columns) 

common_elements_two = unified_question_set_one.intersection(three_question_set)
print(len(common_elements_two))
print(common_elements_two)

24
{'YearsCodePro', 'Age', 'SOAccount', 'NEWSOSites', 'Employment', 'Year', 'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity', 'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel', 'Country', 'CompTotal', 'SOVisitFreq', 'CompFreq', 'Sexuality', 'Trans', 'OrgSize'}

In [49]:
list(unified_question_set_one - common_elements_two)

['Currency',
 'ResponseId',
 'LanguageWantToWorkWith',
 'Accessibility',
 'MentalHealth',
 'PlatformWantToWorkWith',
 'MiscTechWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'WebframeWantToWorkWith',
 'LearnCode',
 'NEWCollabToolsWantToWorkWith',
 'LanguageHaveWorkedWith',
 'ToolsTechHaveWorkedWith',
 'PlatformHaveWorkedWith',
 'MiscTechHaveWorkedWith',
 'ConvertedCompYearly',
 'DatabaseWantToWorkWith',
 'ToolsTechWantToWorkWith',
 'WebframeHaveWorkedWith',
 'NEWCollabToolsHaveWorkedWith']

Here we notice that relevant question columns are again being leftout, so they need to be added individually. Also, since in 2020 currency is split into two separate parts, only the symbol part is used.

In [50]:
list(three_question_set - common_elements_two)

['NEWPurpleLink',
 'Hobbyist',
 'LanguageWorkedWith',
 'CurrencyDesc',
 'WorkWeekHrs',
 'WebframeDesireNextYear',
 'Age1stCode',
 'NEWDevOpsImpt',
 'NEWDevOps',
 'JobSat',
 'Respondent',
 'JobFactors',
 'PlatformDesireNextYear',
 'NEWCollabToolsDesireNextYear',
 'ConvertedComp',
 'LanguageDesireNextYear',
 'NEWStuck',
 'NEWOffTopic',
 'JobSeek',
 'NEWJobHunt',
 'NEWEdImpt',
 'NEWOnboardGood',
 'NEWLearn',
 'PurchaseWhat',
 'NEWJobHuntResearch',
 'WelcomeChange',
 'DatabaseDesireNextYear',
 'CurrencySymbol',
 'NEWPurchaseResearch',
 'MiscTechWorkedWith',
 'NEWCollabToolsWorkedWith',
 'DatabaseWorkedWith',
 'NEWOvertime',
 'NEWOtherComms',
 'UndergradMajor',
 'WebframeWorkedWith',
 'MiscTechDesireNextYear',
 'PlatformWorkedWith']

In [51]:
unified_df_second = pd.concat([unified_df_first[list(common_elements_two)],three_df[list(common_elements_two)]], ignore_index=True)

unified_df_second['Currency'] = list(unified_df_first['Currency']) + list(three_df['CurrencySymbol'])
unified_df_second['ConvertedCompYearly'] = list(unified_df_first['ConvertedCompYearly']) + list(three_df['ConvertedComp'])


unified_df_second['LanguageHave'] = list(unified_df_first['LanguageHaveWorkedWith']) + list(three_df['LanguageWorkedWith'])
unified_df_second['LanguageDesire'] = list(unified_df_first['LanguageWantToWorkWith']) + list(three_df['LanguageDesireNextYear'])

unified_df_second['DatabaseHave'] = list(unified_df_first['DatabaseHaveWorkedWith']) + list(three_df['DatabaseWorkedWith'])
unified_df_second['DatabaseDesire'] = list(unified_df_first['DatabaseWantToWorkWith']) + list(three_df['DatabaseDesireNextYear'])

unified_df_second['WebframeHave'] = list(unified_df_first['WebframeHaveWorkedWith']) + list(three_df['WebframeWorkedWith'])
unified_df_second['WebframeDesire'] = list(unified_df_first['WebframeWantToWorkWith']) + list(three_df['WebframeDesireNextYear'])

unified_df_second['PlatformHave'] = list(unified_df_first['PlatformHaveWorkedWith']) + list(three_df['PlatformWorkedWith'])
unified_df_second['PlatformDesire'] = list(unified_df_first['PlatformWantToWorkWith']) + list(three_df['PlatformDesireNextYear'])

In [52]:
unified_df_second

,YearsCodePro,Age,SOAccount,NEWSOSites,Employment,Year,SurveyLength,Gender,SurveyEase,DevType,...,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire,Currency,ConvertedCompYearly
0,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Yes,Collectives on Stack Overflow;Stack Overflow f...,"Employed, full-time",2022,Too long,NaN,Difficult,NaN,...,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,CAD\tCanadian dollar,NaN
2,5,25-34 years old,Yes,Collectives on Stack Overflow;Stack Overflow;S...,"Employed, full-time",2022,Appropriate in length,Man,Neither easy nor difficult,Data scientist or machine learning specialist;...,...,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NaN,NaN,GBP\tPound sterling,40205.0
3,17,35-44 years old,Yes,Collectives on Stack Overflow;Stack Overflow f...,"Employed, full-time",2022,Appropriate in length,Man,Easy,"Developer, full-stack",...,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NaN,NaN,ILS\tIsraeli new shekel,215232.0
4,3,25-34 years old,Yes,Collectives on Stack Overflow;Stack Overflow f...,"Employed, full-time",2022,Too long,NaN,Easy,"Developer, front-end;Developer, full-stack;Dev...",...,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure,USD\tUnited States dollar,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221163,Less than 1 year,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),Employed full-time,2020,NaN,NaN,NaN,Senior executive/VP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221164,NaN,NaN,NaN,NaN,Employed full-time,2020,NaN,NaN,NaN,NaN,...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,NaN,NaN,NaN,NaN
221165,NaN,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221166,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),Employed full-time,2020,NaN,NaN,NaN,NaN,...,HTML/CSS,HTML/CSS;Java;JavaScript,Oracle,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,NaN,Angular;Angular.js;React.js,Linux;Windows,NaN,NaN,NaN
221167,NaN,NaN,NaN,NaN,Employed full-time,2020,NaN,NaN,NaN,NaN,...,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,MariaDB;Microsoft SQL Server;MySQL;Oracle,MariaDB;Microsoft SQL Server,Angular;Angular.js;ASP.NET Core;jQuery,ASP.NET Core;jQuery,Android;Arduino;Linux;Raspberry Pi;Windows,Arduino;Linux;Raspberry Pi;Windows,NaN,NaN

In [83]:
unified_df_second.columns

Index(['YearsCodePro', 'Age', 'SOAccount', 'NEWSOSites', 'Employment', 'Year',
       'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity',
       'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel',
       'Country', 'CompTotal', 'SOVisitFreq', 'CompFreq', 'Sexuality', 'Trans',
       'OrgSize', 'LanguageHave', 'LanguageDesire', 'DatabaseHave',
       'DatabaseDesire', 'WebframeHave', 'WebframeDesire', 'PlatformHave',
       'PlatformDesire', 'Currency', 'ConvertedCompYearly'],
      dtype='object')

# 2020-2022 and 2019

In [58]:
four_df = pd.read_csv('Data_2011-2022\\survey_results_public_2019.csv')
four_df['Year'] = [2019] * four_df.shape[0]

In [59]:
print(len(four_df.columns))
print(four_df.columns)

86
Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'Year'],
      dtype='object')

In [60]:
print(len(unified_df_second.columns))
print(unified_df_second.columns)

34
Index(['YearsCodePro', 'Age', 'SOAccount', 'NEWSOSites', 'Employment', 'Year',
       'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity',
       'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel',
       'Country', 'CompTotal', 'SOVisitFreq', 'CompFreq', 'Sexuality', 'Trans',
       'OrgSize', 'LanguageHave', 'LanguageDesire', 'DatabaseHave',
       'DatabaseDesire', 'WebframeHave', 'WebframeDesire', 'PlatformHave',
       'PlatformDesire', 'Currency', 'ConvertedCompYearly'],
      dtype='object')

In [61]:
unified_question_set_two = set(unified_df_second.columns) 
four_question_set = set(four_df.columns) 

common_elements_three = unified_question_set_two.intersection(four_question_set)
print(len(common_elements_three))
print(common_elements_three)

23
{'YearsCodePro', 'Age', 'SOAccount', 'Employment', 'Year', 'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity', 'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel', 'SOVisitFreq', 'Country', 'CompTotal', 'CompFreq', 'Sexuality', 'Trans', 'OrgSize'}

In [62]:
list(unified_question_set_two - common_elements_three)

['Currency',
 'ConvertedCompYearly',
 'NEWSOSites',
 'PlatformHave',
 'WebframeHave',
 'WebframeDesire',
 'LanguageHave',
 'DatabaseHave',
 'PlatformDesire',
 'DatabaseDesire',
 'LanguageDesire']

In [63]:
list(four_question_set - common_elements_three)

['ResumeUpdate',
 'SOTimeSaved',
 'WebFrameWorkedWith',
 'CareerSat',
 'SONewContent',
 'WorkLoc',
 'LanguageWorkedWith',
 'Hobbyist',
 'CurrencyDesc',
 'WorkWeekHrs',
 'CodeRevHrs',
 'PurchaseHow',
 'BlockchainIs',
 'Age1stCode',
 'Respondent',
 'JobSat',
 'Student',
 'ScreenName',
 'JobFactors',
 'PlatformDesireNextYear',
 'WebFrameDesireNextYear',
 'LastInt',
 'Extraversion',
 'DevEnviron',
 'ConvertedComp',
 'LanguageDesireNextYear',
 'EntTeams',
 'MgrWant',
 'JobSeek',
 'WorkRemote',
 'MgrIdiot',
 'BetterLife',
 'SOFindAnswer',
 'SocialMedia',
 'FizzBuzz',
 'MgrMoney',
 'PurchaseWhat',
 'SOJobs',
 'WorkChallenge',
 'ImpSyn',
 'LastHireDate',
 'WelcomeChange',
 'Dependents',
 'OffOn',
 'CurrencySymbol',
 'DatabaseDesireNextYear',
 'SOHowMuchTime',
 'SOVisit1st',
 'CodeRev',
 'ITperson',
 'MiscTechWorkedWith',
 'DatabaseWorkedWith',
 'SOVisitTo',
 'WorkPlan',
 'UndergradMajor',
 'BlockchainOrg',
 'UnitTests',
 'EduOther',
 'MiscTechDesireNextYear',
 'OpenSourcer',
 'OpenSource',
 'Containers',
 'PlatformWorkedWith']

In [64]:
unified_df_third = pd.concat([unified_df_second[list(common_elements_three)],four_df[list(common_elements_three)]], ignore_index=True)

unified_df_third['Currency'] = list(unified_df_second['Currency']) + list(four_df['CurrencySymbol'])
unified_df_third['ConvertedCompYearly'] = list(unified_df_second['ConvertedCompYearly']) + list(four_df['ConvertedComp'])

unified_df_third['LanguageHave'] = list(unified_df_second['LanguageHave']) + list(four_df['LanguageWorkedWith'])
unified_df_third['LanguageDesire'] = list(unified_df_second['LanguageDesire']) + list(four_df['LanguageDesireNextYear'])

unified_df_third['DatabaseHave'] = list(unified_df_second['DatabaseHave']) + list(four_df['DatabaseWorkedWith'])
unified_df_third['DatabaseDesire'] = list(unified_df_second['DatabaseDesire']) + list(four_df['DatabaseDesireNextYear'])

unified_df_third['WebframeHave'] = list(unified_df_second['WebframeHave']) + list(four_df['WebFrameWorkedWith'])
unified_df_third['WebframeDesire'] = list(unified_df_second['WebframeDesire']) + list(four_df['WebFrameDesireNextYear'])

unified_df_third['PlatformHave'] = list(unified_df_second['PlatformHave']) + list(four_df['PlatformWorkedWith'])
unified_df_third['PlatformDesire'] = list(unified_df_second['PlatformDesire']) + list(four_df['PlatformDesireNextYear'])

In [65]:
unified_df_third

,YearsCodePro,Age,SOAccount,Employment,Year,SurveyLength,Gender,SurveyEase,DevType,Ethnicity,...,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire,Currency,ConvertedCompYearly
0,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Yes,"Employed, full-time",2022,Too long,NaN,Difficult,NaN,NaN,...,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,CAD\tCanadian dollar,NaN
2,5,25-34 years old,Yes,"Employed, full-time",2022,Appropriate in length,Man,Neither easy nor difficult,Data scientist or machine learning specialist;...,White,...,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NaN,NaN,GBP\tPound sterling,40205.0
3,17,35-44 years old,Yes,"Employed, full-time",2022,Appropriate in length,Man,Easy,"Developer, full-stack",White,...,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NaN,NaN,ILS\tIsraeli new shekel,215232.0
4,3,25-34 years old,Yes,"Employed, full-time",2022,Too long,NaN,Easy,"Developer, front-end;Developer, full-stack;Dev...",NaN,...,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure,USD\tUnited States dollar,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310046,NaN,NaN,Yes,"Not employed, and not looking for work",2019,Appropriate in length,Man,Easy,NaN,NaN,...,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,jQuery,jQuery;Vue.js,Linux,Google Cloud Platform;Linux,NaN,NaN
310047,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310048,NaN,NaN,NaN,Employed full-time,2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310049,NaN,NaN,NaN,"Independent contractor, freelancer, or self-em...",2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310050,3,18.0,Yes,"Not employed, and not looking for work",2019,Appropriate in length,Man,Easy,NaN,Hispanic or Latino/Latina;White or of European...,...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,Django;jQuery;React.js,Django,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,NaN,NaN

In [84]:
unified_df_third.columns

Index(['YearsCodePro', 'Age', 'SOAccount', 'Employment', 'Year',
       'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity',
       'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel',
       'SOVisitFreq', 'Country', 'CompTotal', 'CompFreq', 'Sexuality', 'Trans',
       'OrgSize', 'LanguageHave', 'LanguageDesire', 'DatabaseHave',
       'DatabaseDesire', 'WebframeHave', 'WebframeDesire', 'PlatformHave',
       'PlatformDesire', 'Currency', 'ConvertedCompYearly'],
      dtype='object')

# 2019-2022 and 2018

In [66]:
five_df = pd.read_csv('Data_2011-2022\\survey_results_public_2018.csv')
five_df['Year'] = [2018] * five_df.shape[0]

C:\Users\niila\AppData\Local\Temp\ipykernel_28928\1754438597.py:1: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  five_df = pd.read_csv('Data_2011-2022\\survey_results_public_2018.csv')

In [68]:
print(len(five_df.columns))
print(five_df.columns)

130
Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Gender', 'SexualOrientation', 'EducationParents', 'RaceEthnicity',
       'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy',
       'Year'],
      dtype='object', length=130)

In [69]:
print(len(unified_df_third.columns))
print(unified_df_third.columns)

33
Index(['YearsCodePro', 'Age', 'SOAccount', 'Employment', 'Year',
       'SurveyLength', 'Gender', 'SurveyEase', 'DevType', 'Ethnicity',
       'SOComm', 'MainBranch', 'YearsCode', 'SOPartFreq', 'OpSys', 'EdLevel',
       'SOVisitFreq', 'Country', 'CompTotal', 'CompFreq', 'Sexuality', 'Trans',
       'OrgSize', 'LanguageHave', 'LanguageDesire', 'DatabaseHave',
       'DatabaseDesire', 'WebframeHave', 'WebframeDesire', 'PlatformHave',
       'PlatformDesire', 'Currency', 'ConvertedCompYearly'],
      dtype='object')

In [73]:
unified_question_set_three = set(unified_df_third.columns) 
five_question_set = set(five_df.columns) 

common_elements_four = unified_question_set_three.intersection(five_question_set)
print(len(common_elements_four))
print(common_elements_four)

7
{'DevType', 'Currency', 'Age', 'Employment', 'Year', 'Gender', 'Country'}

In [74]:
list(unified_question_set_three - common_elements_four)

['YearsCodePro',
 'SOAccount',
 'SurveyLength',
 'PlatformDesire',
 'SurveyEase',
 'Ethnicity',
 'SOComm',
 'MainBranch',
 'LanguageHave',
 'DatabaseDesire',
 'YearsCode',
 'SOPartFreq',
 'OpSys',
 'PlatformHave',
 'EdLevel',
 'DatabaseHave',
 'CompTotal',
 'SOVisitFreq',
 'LanguageDesire',
 'ConvertedCompYearly',
 'WebframeHave',
 'CompFreq',
 'WebframeDesire',
 'Sexuality',
 'Trans',
 'OrgSize']

In [75]:
list(five_question_set - common_elements_three)

['EthicsResponsible',
 'AdBlockerReasons',
 'StackOverflowDevStory',
 'HypotheticalTools3',
 'LanguageWorkedWith',
 'AdsActions',
 'AdsPriorities2',
 'CareerSatisfaction',
 'AssessBenefits5',
 'ConvertedSalary',
 'CompanySize',
 'AdsPriorities7',
 'JobSearchStatus',
 'SalaryType',
 'AssessJob7',
 'JobEmailPriorities6',
 'AdsAgreeDisagree1',
 'AssessJob6',
 'FrameworkDesireNextYear',
 'AssessBenefits8',
 'YearsCodingProf',
 'AssessBenefits1',
 'AdsPriorities1',
 'CurrencySymbol',
 'HoursOutside',
 'LastNewJob',
 'StackOverflowVisit',
 'JobContactPriorities2',
 'JobContactPriorities4',
 'StackOverflowRecommend',
 'UndergradMajor',
 'HypotheticalTools4',
 'AssessJob8',
 'JobEmailPriorities3',
 'OpenSource',
 'AssessJob3',
 'PlatformWorkedWith',
 'StackOverflowConsiderMember',
 'AdsPriorities6',
 'NumberMonitors',
 'FormalEducation',
 'HypotheticalTools5',
 'JobContactPriorities1',
 'VersionControl',
 'HoursComputer',
 'Student',
 'AssessBenefits2',
 'AssessJob10',
 'AssessBenefits6',
 'JobEmailPriorities2',
 'AssessBenefits9',
 'RaceEthnicity',
 'TimeAfterBootcamp',
 'AgreeDisagree2',
 'AdsAgreeDisagree2',
 'Exercise',
 'FrameworkWorkedWith',
 'AssessJob1',
 'AssessBenefits4',
 'SurveyTooLong',
 'HackathonReasons',
 'SkipMeals',
 'JobEmailPriorities1',
 'Dependents',
 'DatabaseWorkedWith',
 'AdsAgreeDisagree3',
 'JobContactPriorities5',
 'IDE',
 'EthicalImplications',
 'JobContactPriorities3',
 'AssessJob2',
 'EthicsChoice',
 'Salary',
 'HopeFiveYears',
 'AssessJob9',
 'JobEmailPriorities5',
 'AdsPriorities4',
 'AdsPriorities5',
 'SurveyEasy',
 'LanguageDesireNextYear',
 'AIDangerous',
 'AIResponsible',
 'AssessBenefits10',
 'HypotheticalTools2',
 'AssessBenefits11',
 'EthicsReport',
 'StackOverflowJobs',
 'SelfTaughtTypes',
 'JobSatisfaction',
 'AssessBenefits7',
 'SexualOrientation',
 'AIFuture',
 'JobEmailPriorities7',
 'EducationTypes',
 'StackOverflowHasAccount',
 'WakeTime',
 'AIInteresting',
 'Currency',
 'Hobby',
 'ErgonomicDevices',
 'CheckInCode',
 'AgreeDisagree1',
 'AdsPriorities3',
 'Respondent',
 'EducationParents',
 'PlatformDesireNextYear',
 'UpdateCV',
 'AgreeDisagree3',
 'YearsCoding',
 'StackOverflowParticipate',
 'AssessJob4',
 'JobEmailPriorities4',
 'CommunicationTools',
 'DatabaseDesireNextYear',
 'TimeFullyProductive',
 'Methodology',
 'StackOverflowJobsRecommend',
 'MilitaryUS',
 'AdBlockerDisable',
 'AssessJob5',
 'AssessBenefits3',
 'HypotheticalTools1',
 'AdBlocker',
 'OperatingSystem']

In [86]:
for value in five_df.columns:
    print(value)

Respondent
Hobby
OpenSource
Country
Student
Employment
FormalEducation
UndergradMajor
CompanySize
DevType
YearsCoding
YearsCodingProf
JobSatisfaction
CareerSatisfaction
HopeFiveYears
JobSearchStatus
LastNewJob
AssessJob1
AssessJob2
AssessJob3
AssessJob4
AssessJob5
AssessJob6
AssessJob7
AssessJob8
AssessJob9
AssessJob10
AssessBenefits1
AssessBenefits2
AssessBenefits3
AssessBenefits4
AssessBenefits5
AssessBenefits6
AssessBenefits7
AssessBenefits8
AssessBenefits9
AssessBenefits10
AssessBenefits11
JobContactPriorities1
JobContactPriorities2
JobContactPriorities3
JobContactPriorities4
JobContactPriorities5
JobEmailPriorities1
JobEmailPriorities2
JobEmailPriorities3
JobEmailPriorities4
JobEmailPriorities5
JobEmailPriorities6
JobEmailPriorities7
UpdateCV
Currency
Salary
SalaryType
ConvertedSalary
CurrencySymbol
CommunicationTools
TimeFullyProductive
EducationTypes
SelfTaughtTypes
TimeAfterBootcamp
HackathonReasons
AgreeDisagree1
AgreeDisagree2
AgreeDisagree3
LanguageWorkedWith
LanguageDesireNextYear
DatabaseWorkedWith
DatabaseDesireNextYear
PlatformWorkedWith
PlatformDesireNextYear
FrameworkWorkedWith
FrameworkDesireNextYear
IDE
OperatingSystem
NumberMonitors
Methodology
VersionControl
CheckInCode
AdBlocker
AdBlockerDisable
AdBlockerReasons
AdsAgreeDisagree1
AdsAgreeDisagree2
AdsAgreeDisagree3
AdsActions
AdsPriorities1
AdsPriorities2
AdsPriorities3
AdsPriorities4
AdsPriorities5
AdsPriorities6
AdsPriorities7
AIDangerous
AIInteresting
AIResponsible
AIFuture
EthicsChoice
EthicsReport
EthicsResponsible
EthicalImplications
StackOverflowRecommend
StackOverflowVisit
StackOverflowHasAccount
StackOverflowParticipate
StackOverflowJobs
StackOverflowDevStory
StackOverflowJobsRecommend
StackOverflowConsiderMember
HypotheticalTools1
HypotheticalTools2
HypotheticalTools3
HypotheticalTools4
HypotheticalTools5
WakeTime
HoursComputer
HoursOutside
SkipMeals
ErgonomicDevices
Exercise
Gender
SexualOrientation
EducationParents
RaceEthnicity
Age
Dependents
MilitaryUS
SurveyTooLong
SurveyEasy
Year

In [178]:
unified_df_fourth = pd.concat([unified_df_third[list(common_elements_four)],five_df[list(common_elements_four)]], ignore_index=True)

unified_df_fourth['SOAccount'] = list(unified_df_third['SOAccount']) + list(five_df['StackOverflowHasAccount'])
unified_df_fourth['SurveyLength'] = list(unified_df_third['SurveyLength']) + list(five_df['SurveyTooLong'])

unified_df_fourth['Sexuality'] = list(unified_df_third['Sexuality']) + list(five_df['SexualOrientation'])
unified_df_fourth['Ethnicity'] = list(unified_df_third['Ethnicity']) + list(five_df['RaceEthnicity'])

unified_df_fourth['EdLevel'] = list(unified_df_third['EdLevel']) + list(five_df['FormalEducation'])
unified_df_fourth['YearsCode'] = list(unified_df_third['YearsCode']) + list(five_df['YearsCoding'])

unified_df_fourth['OrgSize'] = list(unified_df_third['OrgSize']) + list(five_df['CompanySize'])

unified_df_fourth['CompTotal'] = list(unified_df_third['CompTotal']) + list(five_df['Salary'])
unified_df_fourth['Currency'] = list(unified_df_third['Currency']) + list(five_df['CurrencySymbol'])
unified_df_fourth['CompFreq'] = list(unified_df_third['CompFreq']) + list(five_df['SalaryType'])
unified_df_fourth['ConvertedCompYearly'] = list(unified_df_third['ConvertedCompYearly']) + list(five_df['ConvertedSalary'])

unified_df_fourth['OpSys'] = list(unified_df_third['OpSys']) + list(five_df['OperatingSystem'])

unified_df_fourth['LanguageHave'] = list(unified_df_third['LanguageHave']) + list(five_df['LanguageWorkedWith'])
unified_df_fourth['LanguageDesire'] = list(unified_df_third['LanguageDesire']) + list(five_df['LanguageDesireNextYear'])

unified_df_fourth['DatabaseHave'] = list(unified_df_third['DatabaseHave']) + list(five_df['DatabaseWorkedWith'])
unified_df_fourth['DatabaseDesire'] = list(unified_df_third['DatabaseDesire']) + list(five_df['DatabaseDesireNextYear'])

unified_df_fourth['WebframeHave'] = list(unified_df_third['WebframeHave']) + list(five_df['FrameworkWorkedWith'])
unified_df_fourth['WebframeDesire'] = list(unified_df_third['WebframeDesire']) + list(five_df['FrameworkDesireNextYear'])

unified_df_fourth['PlatformHave'] = list(unified_df_third['PlatformHave']) + list(five_df['PlatformWorkedWith'])
unified_df_fourth['PlatformDesire'] = list(unified_df_third['PlatformDesire']) + list(five_df['PlatformDesireNextYear'])

In [92]:
unified_df_fourth

,DevType,Currency,Age,Employment,Year,Gender,Country,Sexuality,Ethnicity,EdLevel,...,ConvertedCompYearly,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CAD\tCanadian dollar,NaN,"Employed, full-time",2022,NaN,Canada,NaN,NaN,NaN,...,NaN,macOS,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN
2,Data scientist or machine learning specialist;...,GBP\tPound sterling,25-34 years old,"Employed, full-time",2022,Man,United Kingdom of Great Britain and Northern I...,Bisexual,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",...,40205.0,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NaN,NaN
3,"Developer, full-stack",ILS\tIsraeli new shekel,35-44 years old,"Employed, full-time",2022,Man,Israel,Straight / Heterosexual,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",...,215232.0,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NaN,NaN
4,"Developer, front-end;Developer, full-stack;Dev...",USD\tUnited States dollar,25-34 years old,"Employed, full-time",2022,NaN,United States of America,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",...,NaN,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408901,NaN,NaN,NaN,NaN,2018,NaN,United States,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408902,Back-end developer;Front-end developer,NaN,NaN,"Not employed, but looking for work",2018,NaN,Spain,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408903,NaN,NaN,NaN,Employed full-time,2018,NaN,India,NaN,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408904,NaN,NaN,NaN,"Independent contractor, freelancer, or self-em...",2018,NaN,Russian Federation,NaN,NaN,Some college/university study without earning ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408905,NaN,NaN,NaN,NaN,2018,NaN,Cambodia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
unified_df_fourth.columns

Index(['DevType', 'Currency', 'Age', 'Employment', 'Year', 'Gender', 'Country',
       'Sexuality', 'Ethnicity', 'EdLevel', 'YearsCodePro', 'OrgSize',
       'SOAccount', 'SurveyLength', 'CompTotal', 'CompFreq',
       'ConvertedCompYearly', 'OpSys', 'LanguageHave', 'LanguageDesire',
       'DatabaseHave', 'DatabaseDesire', 'WebframeHave', 'WebframeDesire',
       'PlatformHave', 'PlatformDesire'],
      dtype='object')

# 2018-2022 and 2017

In [94]:
six_df = pd.read_csv('Data_2011-2022\\survey_results_public_2017.csv')
six_df['Year'] = [2017] * six_df.shape[0]

In [95]:
print(len(six_df.columns))
print(six_df.columns)

155
Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'Gender', 'HighestEducationParents', 'Race', 'SurveyLong',
       'QuestionsInteresting', 'QuestionsConfusing', 'InterestedAnswers',
       'Salary', 'ExpectedSalary', 'Year'],
      dtype='object', length=155)

In [96]:
print(len(unified_df_fourth.columns))
print(unified_df_fourth.columns)

26
Index(['DevType', 'Currency', 'Age', 'Employment', 'Year', 'Gender', 'Country',
       'Sexuality', 'Ethnicity', 'EdLevel', 'YearsCodePro', 'OrgSize',
       'SOAccount', 'SurveyLength', 'CompTotal', 'CompFreq',
       'ConvertedCompYearly', 'OpSys', 'LanguageHave', 'LanguageDesire',
       'DatabaseHave', 'DatabaseDesire', 'WebframeHave', 'WebframeDesire',
       'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [97]:
unified_question_set_four = set(unified_df_fourth.columns) 
six_question_set = set(six_df.columns) 

common_elements_five = unified_question_set_four.intersection(six_question_set)
print(len(common_elements_five))
print(common_elements_five)

4
{'Year', 'Gender', 'Currency', 'Country'}

In [98]:
list(unified_question_set_four - common_elements_five)

['OpSys',
 'YearsCodePro',
 'Age',
 'SOAccount',
 'PlatformHave',
 'EdLevel',
 'Employment',
 'SurveyLength',
 'PlatformDesire',
 'DatabaseHave',
 'CompTotal',
 'LanguageDesire',
 'DevType',
 'Ethnicity',
 'ConvertedCompYearly',
 'WebframeHave',
 'CompFreq',
 'WebframeDesire',
 'Sexuality',
 'LanguageHave',
 'OrgSize',
 'DatabaseDesire']

In [99]:
list(unified_question_set_four - six_question_set)

['YearsCodePro',
 'Age',
 'SOAccount',
 'Employment',
 'SurveyLength',
 'PlatformDesire',
 'DevType',
 'Ethnicity',
 'LanguageHave',
 'DatabaseDesire',
 'OpSys',
 'PlatformHave',
 'EdLevel',
 'DatabaseHave',
 'CompTotal',
 'LanguageDesire',
 'ConvertedCompYearly',
 'WebframeHave',
 'CompFreq',
 'WebframeDesire',
 'Sexuality',
 'OrgSize']

In [103]:
for value in six_df.columns:
    print(value)

Respondent
Professional
ProgramHobby
Country
University
EmploymentStatus
FormalEducation
MajorUndergrad
HomeRemote
CompanySize
CompanyType
YearsProgram
YearsCodedJob
YearsCodedJobPast
DeveloperType
WebDeveloperType
MobileDeveloperType
NonDeveloperType
CareerSatisfaction
JobSatisfaction
ExCoderReturn
ExCoderNotForMe
ExCoderBalance
ExCoder10Years
ExCoderBelonged
ExCoderSkills
ExCoderWillNotCode
ExCoderActive
PronounceGIF
ProblemSolving
BuildingThings
LearningNewTech
BoringDetails
JobSecurity
DiversityImportant
AnnoyingUI
FriendsDevelopers
RightWrongWay
UnderstandComputers
SeriousWork
InvestTimeTools
WorkPayCare
KinshipDevelopers
ChallengeMyself
CompetePeers
ChangeWorld
JobSeekingStatus
HoursPerWeek
LastNewJob
AssessJobIndustry
AssessJobRole
AssessJobExp
AssessJobDept
AssessJobTech
AssessJobProjects
AssessJobCompensation
AssessJobOffice
AssessJobCommute
AssessJobRemote
AssessJobLeaders
AssessJobProfDevel
AssessJobDiversity
AssessJobProduct
AssessJobFinances
ImportantBenefits
ClickyKeys
JobProfile
ResumePrompted
LearnedHiring
ImportantHiringAlgorithms
ImportantHiringTechExp
ImportantHiringCommunication
ImportantHiringOpenSource
ImportantHiringPMExp
ImportantHiringCompanies
ImportantHiringTitles
ImportantHiringEducation
ImportantHiringRep
ImportantHiringGettingThingsDone
Currency
Overpaid
TabsSpaces
EducationImportant
EducationTypes
SelfTaughtTypes
TimeAfterBootcamp
CousinEducation
WorkStart
HaveWorkedLanguage
WantWorkLanguage
HaveWorkedFramework
WantWorkFramework
HaveWorkedDatabase
WantWorkDatabase
HaveWorkedPlatform
WantWorkPlatform
IDE
AuditoryEnvironment
Methodology
VersionControl
CheckInCode
ShipIt
OtherPeoplesCode
ProjectManagement
EnjoyDebugging
InTheZone
DifficultCommunication
CollaborateRemote
MetricAssess
EquipmentSatisfiedMonitors
EquipmentSatisfiedCPU
EquipmentSatisfiedRAM
EquipmentSatisfiedStorage
EquipmentSatisfiedRW
InfluenceInternet
InfluenceWorkstation
InfluenceHardware
InfluenceServers
InfluenceTechStack
InfluenceDeptTech
InfluenceVizTools
InfluenceDatabase
InfluenceCloud
InfluenceConsultants
InfluenceRecruitment
InfluenceCommunication
StackOverflowDescribes
StackOverflowSatisfaction
StackOverflowDevices
StackOverflowFoundAnswer
StackOverflowCopiedCode
StackOverflowJobListing
StackOverflowCompanyPage
StackOverflowJobSearch
StackOverflowNewQuestion
StackOverflowAnswer
StackOverflowMetaChat
StackOverflowAdsRelevant
StackOverflowAdsDistracting
StackOverflowModeration
StackOverflowCommunity
StackOverflowHelpful
StackOverflowBetter
StackOverflowWhatDo
StackOverflowMakeMoney
Gender
HighestEducationParents
Race
SurveyLong
QuestionsInteresting
QuestionsConfusing
InterestedAnswers
Salary
ExpectedSalary
Year

In [214]:
unified_df_fifth = pd.concat([unified_df_fourth[list(common_elements_five)],six_df[list(common_elements_five)]], ignore_index=True)

unified_df_fifth['SurveyLength'] = list(unified_df_fourth['SurveyLength']) + list(six_df['SurveyLong'])
unified_df_fifth['SOAccount'] = list(unified_df_fourth['SOAccount']) + list(six_df['StackOverflowDescribes'])

unified_df_fifth['Age'] = list(unified_df_fourth['Age']) + [np.nan]*six_df.shape[0]
unified_df_fifth['Ethnicity'] = list(unified_df_fourth['Ethnicity']) + list(six_df['Race'])

unified_df_fifth['OrgSize'] = list(unified_df_fourth['OrgSize']) + list(six_df['CompanySize'])
unified_df_fifth['Employment'] = list(unified_df_fourth['Employment']) + list(six_df['EmploymentStatus'])

unified_df_fifth['YearsCode'] = list(unified_df_fourth['YearsCode']) + list(six_df['YearsProgram'])
unified_df_fifth['EdLevel'] = list(unified_df_fourth['EdLevel']) + list(six_df['FormalEducation'])
unified_df_fifth['DevType'] = list(unified_df_fourth['DevType']) + list(six_df['DeveloperType'])

unified_df_fifth['CompTotal'] = list(unified_df_fourth['CompTotal']) + list(six_df['Salary'])
unified_df_fifth['CompFreq'] = list(unified_df_fourth['CompFreq']) + [np.nan]*six_df.shape[0]
unified_df_fifth['ConvertedCompYearly'] = list(unified_df_fourth['ConvertedCompYearly']) + [np.nan]*six_df.shape[0]

unified_df_fifth['OpSys'] = list(unified_df_fourth['OpSys']) + [np.nan]*six_df.shape[0]

unified_df_fifth['LanguageHave'] = list(unified_df_fourth['LanguageHave']) + list(six_df['HaveWorkedLanguage'])
unified_df_fifth['LanguageDesire'] = list(unified_df_fourth['LanguageDesire']) + list(six_df['WantWorkLanguage'])

unified_df_fifth['DatabaseHave'] = list(unified_df_fourth['DatabaseHave']) + list(six_df['HaveWorkedDatabase'])
unified_df_fifth['DatabaseDesire'] = list(unified_df_fourth['DatabaseDesire']) + list(six_df['WantWorkDatabase'])

unified_df_fifth['WebframeHave'] = list(unified_df_fourth['WebframeHave']) + list(six_df['HaveWorkedFramework'])
unified_df_fifth['WebframeDesire'] = list(unified_df_fourth['WebframeDesire']) + list(six_df['WantWorkFramework'])

unified_df_fifth['PlatformHave'] = list(unified_df_fourth['PlatformHave']) + list(six_df['HaveWorkedPlatform'])
unified_df_fifth['PlatformDesire'] = list(unified_df_fourth['PlatformDesire']) + list(six_df['WantWorkPlatform'])

In [153]:
unified_df_fifth

,Year,Gender,Currency,Country,SurveyLength,SOAccount,Age,Ethnicity,OrgSize,Employment,...,ConvertedCompYearly,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,NaN,CAD\tCanadian dollar,Canada,Too long,Yes,NaN,NaN,NaN,"Employed, full-time",...,NaN,macOS,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,Man,GBP\tPound sterling,United Kingdom of Great Britain and Northern I...,Appropriate in length,Yes,25-34 years old,White,20 to 99 employees,"Employed, full-time",...,40205.0,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NaN,NaN
3,2022,Man,ILS\tIsraeli new shekel,Israel,Appropriate in length,Yes,35-44 years old,White,100 to 499 employees,"Employed, full-time",...,215232.0,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NaN,NaN
4,2022,NaN,USD\tUnited States dollar,United States of America,Too long,Yes,25-34 years old,NaN,20 to 99 employees,"Employed, full-time",...,NaN,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460293,2017,Male,U.S. dollars ($),United States,Disagree,I have created a CV or Developer Story on Stac...,NaN,East Asian; White or of European descent,100 to 499 employees,Employed full-time,...,NaN,NaN,C#; JavaScript; Python; SQL; VB.NET; VBA,C#; Python; R; Ruby; Rust; Scala; TypeScript; ...,SQL Server,MongoDB; SQL Server; MySQL,Cordova; .NET Core,AngularJS; Node.js; React; Xamarin; .NET Core,Windows Desktop,Android; Windows Desktop; Raspberry Pi; Amazon...
460294,2017,Male,NaN,Venezuela,Somewhat agree,"I've visited Stack Overflow, but haven't logge...",NaN,Black or of African descent; Hispanic or Latin...,100 to 499 employees,Employed full-time,...,NaN,NaN,Java; SQL,C#; Java; JavaScript; PHP; Python; Ruby; SQL; ...,MySQL; PostgreSQL,SQL Server; PostgreSQL,NaN,NaN,Windows Desktop,NaN
460295,2017,NaN,NaN,Canada,NaN,NaN,NaN,NaN,10 to 19 employees,Employed full-time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460296,2017,Male,U.S. dollars ($),United States,Disagree,"I have a login for Stack Overflow, but haven't...",NaN,White or of European descent,Fewer than 10 employees,Employed full-time,...,NaN,NaN,JavaScript; PHP; Swift,Clojure; Erlang; Haskell,MySQL,NaN,React,NaN,iOS; WordPress,Android
460297,2017,Male,NaN,Ireland,Somewhat agree,"I have a login for Stack Overflow, but haven't...",NaN,White or of European descent,"10,000 or more employees",Employed full-time,...,NaN,NaN,Java; JavaScript; PHP; Python; Ruby; Swift,NaN,MongoDB; Redis; MySQL; PostgreSQL,NaN,AngularJS; Hadoop; Node.js; Cordova,NaN,NaN,NaN

In [180]:
unified_df_fifth.columns

Index(['Year', 'Gender', 'Currency', 'Country', 'SurveyLength', 'SOAccount',
       'Age', 'Ethnicity', 'OrgSize', 'Employment', 'YearsCode', 'EdLevel',
       'DevType', 'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [181]:
column_order = ['Year', 
                'SOAccount',
                'SurveyLength',
                'Country', 
                'Age', 
                'Gender', 
                'Ethnicity', 
                'EdLevel',
                'YearsCode',
                'Employment', 
                'DevType', 
                'OrgSize', 
                'CompTotal', 
                'CompFreq', 
                'ConvertedCompYearly', 
                'Currency', 
                'OpSys',
                'LanguageHave', 
                'LanguageDesire', 
                'DatabaseHave', 
                'DatabaseDesire',
                'WebframeHave', 
                'WebframeDesire', 
                'PlatformHave', 
                'PlatformDesire']

unified_df_fifth = unified_df_fifth.reindex(columns=column_order)

In [133]:
unified_df_fifth

,Year,SOAccount,SurveyLength,Country,Age,Gender,Ethnicity,EdLevel,YearsCodePro,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,Yes,Too long,Canada,NaN,NaN,NaN,NaN,NaN,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,Yes,Appropriate in length,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NaN,NaN
3,2022,Yes,Appropriate in length,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NaN,NaN
4,2022,Yes,Too long,United States of America,25-34 years old,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460293,2017,I have created a CV or Developer Story on Stac...,Disagree,United States,NaN,Male,East Asian; White or of European descent,Bachelor's degree,1 to 2 years,Employed full-time,...,U.S. dollars ($),NaN,C#; JavaScript; Python; SQL; VB.NET; VBA,C#; Python; R; Ruby; Rust; Scala; TypeScript; ...,SQL Server,MongoDB; SQL Server; MySQL,Cordova; .NET Core,AngularJS; Node.js; React; Xamarin; .NET Core,Windows Desktop,Android; Windows Desktop; Raspberry Pi; Amazon...
460294,2017,"I've visited Stack Overflow, but haven't logge...",Somewhat agree,Venezuela,NaN,Male,Black or of African descent; Hispanic or Latin...,Master's degree,NaN,Employed full-time,...,NaN,NaN,Java; SQL,C#; Java; JavaScript; PHP; Python; Ruby; SQL; ...,MySQL; PostgreSQL,SQL Server; PostgreSQL,NaN,NaN,Windows Desktop,NaN
460295,2017,NaN,NaN,Canada,NaN,NaN,NaN,Some college/university study without earning ...,Less than a year,Employed full-time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460296,2017,"I have a login for Stack Overflow, but haven't...",Disagree,United States,NaN,Male,White or of European descent,Bachelor's degree,3 to 4 years,Employed full-time,...,U.S. dollars ($),NaN,JavaScript; PHP; Swift,Clojure; Erlang; Haskell,MySQL,NaN,React,NaN,iOS; WordPress,Android
460297,2017,"I have a login for Stack Overflow, but haven't...",Somewhat agree,Ireland,NaN,Male,White or of European descent,Bachelor's degree,5 to 6 years,Employed full-time,...,NaN,NaN,Java; JavaScript; PHP; Python; Ruby; Swift,NaN,MongoDB; Redis; MySQL; PostgreSQL,NaN,AngularJS; Hadoop; Node.js; Cordova,NaN,NaN,NaN

In [215]:
unified_df_fifth.fillna('NA', inplace=True)

In [136]:
unified_df_fifth
#unified_df_fifth.to_csv('SO_surveys_preprocess_2017_2022.csv', index=False, sep='|')

,Year,SOAccount,SurveyLength,Country,Age,Gender,Ethnicity,EdLevel,YearsCodePro,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Yes,Too long,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Yes,Appropriate in length,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Yes,Appropriate in length,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Yes,Too long,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460293,2017,I have created a CV or Developer Story on Stac...,Disagree,United States,NA,Male,East Asian; White or of European descent,Bachelor's degree,1 to 2 years,Employed full-time,...,U.S. dollars ($),NA,C#; JavaScript; Python; SQL; VB.NET; VBA,C#; Python; R; Ruby; Rust; Scala; TypeScript; ...,SQL Server,MongoDB; SQL Server; MySQL,Cordova; .NET Core,AngularJS; Node.js; React; Xamarin; .NET Core,Windows Desktop,Android; Windows Desktop; Raspberry Pi; Amazon...
460294,2017,"I've visited Stack Overflow, but haven't logge...",Somewhat agree,Venezuela,NA,Male,Black or of African descent; Hispanic or Latin...,Master's degree,NA,Employed full-time,...,NA,NA,Java; SQL,C#; Java; JavaScript; PHP; Python; Ruby; SQL; ...,MySQL; PostgreSQL,SQL Server; PostgreSQL,NA,NA,Windows Desktop,NA
460295,2017,NA,NA,Canada,NA,NA,NA,Some college/university study without earning ...,Less than a year,Employed full-time,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
460296,2017,"I have a login for Stack Overflow, but haven't...",Disagree,United States,NA,Male,White or of European descent,Bachelor's degree,3 to 4 years,Employed full-time,...,U.S. dollars ($),NA,JavaScript; PHP; Swift,Clojure; Erlang; Haskell,MySQL,NA,React,NA,iOS; WordPress,Android
460297,2017,"I have a login for Stack Overflow, but haven't...",Somewhat agree,Ireland,NA,Male,White or of European descent,Bachelor's degree,5 to 6 years,Employed full-time,...,NA,NA,Java; JavaScript; PHP; Python; Ruby; Swift,NA,MongoDB; Redis; MySQL; PostgreSQL,NA,AngularJS; Hadoop; Node.js; Cordova,NA,NA,NA

# 2017-2022 and 2016

In [216]:
with open('Data_2011-2022\\survey_results_public_2016.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 0:
            questions = row
            questions[0] = 'id'
            index = index + 1
            continue
            
        answers.append(row)
            
        index = index + 1
        
    seven_df = pd.DataFrame(answers, columns=questions)
    seven_df.replace('','NA',inplace=True)
    seven_df['Year'] = [2016] * seven_df.shape[0]

In [145]:
print(len(seven_df.columns))
print(seven_df.columns)

67
Index(['id', 'collector', 'country', 'un_subregion', 'so_region', 'age_range',
       'age_midpoint', 'gender', 'self_identification', 'occupation',
       'occupation_group', 'experience_range', 'experience_midpoint',
       'salary_range', 'salary_midpoint', 'big_mac_index', 'tech_do',
       'tech_want', 'aliens', 'programming_ability', 'employment_status',
       'industry', 'company_size_range', 'team_size_range', 'women_on_team',
       'remote', 'job_satisfaction', 'job_discovery', 'dev_environment',
       'commit_frequency', 'hobby', 'dogs_vs_cats', 'desktop_os',
       'unit_testing', 'rep_range', 'visit_frequency', 'why_learn_new_tech',
       'education', 'open_to_new_job', 'new_job_value', 'job_search_annoyance',
       'interview_likelihood', 'how_to_improve_interview_process',
       'star_wars_vs_star_trek', 'agree_tech', 'agree_notice',
       'agree_problemsolving', 'agree_diversity', 'agree_adblocker',
       'agree_alcohol', 'agree_loveboss', 'agree_nightcode', 'agree_legacy',
       'agree_mars', 'important_variety', 'important_control',
       'important_sameend', 'important_newtech', 'important_buildnew',
       'important_buildexisting', 'important_promotion',
       'important_companymission', 'important_wfh', 'important_ownoffice',
       'developer_challenges', 'why_stack_overflow', 'Year'],
      dtype='object')

In [146]:
print(len(unified_df_fifth.columns))
print(unified_df_fifth.columns)

25
Index(['Year', 'SOAccount', 'SurveyLength', 'Country', 'Age', 'Gender',
       'Ethnicity', 'EdLevel', 'YearsCodePro', 'Employment', 'DevType',
       'OrgSize', 'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency',
       'OpSys', 'LanguageHave', 'LanguageDesire', 'DatabaseHave',
       'DatabaseDesire', 'WebframeHave', 'WebframeDesire', 'PlatformHave',
       'PlatformDesire'],
      dtype='object')

In [156]:
unified_question_set_five = set(unified_df_fifth.columns) 
seven_question_set = set(seven_df.columns) 

common_elements_six = unified_question_set_five.intersection(seven_question_set)
print(len(common_elements_six))
print(common_elements_six)

1
{'Year'}

In [177]:
print(unified_df_fifth.columns)

Index(['Year', 'Gender', 'Currency', 'Country', 'SurveyLength', 'SOAccount',
       'Age', 'Ethnicity', 'OrgSize', 'Employment', 'YearsCodePro', 'EdLevel',
       'DevType', 'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [148]:
for value in seven_df.columns:
    print(value)

id
collector
country
un_subregion
so_region
age_range
age_midpoint
gender
self_identification
occupation
occupation_group
experience_range
experience_midpoint
salary_range
salary_midpoint
big_mac_index
tech_do
tech_want
aliens
programming_ability
employment_status
industry
company_size_range
team_size_range
women_on_team
remote
job_satisfaction
job_discovery
dev_environment
commit_frequency
hobby
dogs_vs_cats
desktop_os
unit_testing
rep_range
visit_frequency
why_learn_new_tech
education
open_to_new_job
new_job_value
job_search_annoyance
interview_likelihood
how_to_improve_interview_process
star_wars_vs_star_trek
agree_tech
agree_notice
agree_problemsolving
agree_diversity
agree_adblocker
agree_alcohol
agree_loveboss
agree_nightcode
agree_legacy
agree_mars
important_variety
important_control
important_sameend
important_newtech
important_buildnew
important_buildexisting
important_promotion
important_companymission
important_wfh
important_ownoffice
developer_challenges
why_stack_overflow
Year

In [187]:
seven_df['occupation']

0
1          Mobile developer - iOS
2
3                          DevOps
4
                   ...
56025
56026                     Student
56027
56028
56029    Full-stack web developer
Name: occupation, Length: 56030, dtype: object

In [217]:
unified_df_sixth = pd.concat([unified_df_fifth[list(common_elements_six)],seven_df[list(common_elements_six)]], ignore_index=True)

unified_df_sixth['SurveyLength'] = list(unified_df_fifth['SurveyLength']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['SOAccount'] = list(unified_df_fifth['SOAccount']) + [np.nan]*seven_df.shape[0]

unified_df_sixth['Country'] = list(unified_df_fifth['Country']) + list(seven_df['country'])
unified_df_sixth['Age'] = list(unified_df_fifth['Age']) + list(seven_df['age_range'])
unified_df_sixth['Gender'] = list(unified_df_fifth['Gender']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['Ethnicity'] = list(unified_df_fifth['Ethnicity']) + [np.nan]*seven_df.shape[0]

unified_df_sixth['EdLevel'] = list(unified_df_fifth['EdLevel']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['YearsCode'] = list(unified_df_fifth['YearsCode']) + list(seven_df['experience_midpoint'])

unified_df_sixth['Employment'] = list(unified_df_fifth['Employment']) + list(seven_df['employment_status'])
unified_df_sixth['DevType'] = list(unified_df_fifth['DevType']) + list(seven_df['occupation'])
unified_df_sixth['OrgSize'] = list(unified_df_fifth['OrgSize']) + list(seven_df['company_size_range'])

unified_df_sixth['CompTotal'] = list(unified_df_fifth['CompTotal']) + list(seven_df['salary_range'])
unified_df_sixth['CompFreq'] = list(unified_df_fifth['CompFreq']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['ConvertedCompYearly'] = list(unified_df_fifth['ConvertedCompYearly']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['Currency'] = list(unified_df_fifth['Currency']) + [np.nan]*seven_df.shape[0]

unified_df_sixth['OpSys'] = list(unified_df_fifth['OpSys']) + list(seven_df['desktop_os'])

unified_df_sixth['LanguageHave'] = list(unified_df_fifth['LanguageHave']) + list(seven_df['tech_do'])
unified_df_sixth['LanguageDesire'] = list(unified_df_fifth['LanguageDesire']) + list(seven_df['tech_want'])

unified_df_sixth['DatabaseHave'] = list(unified_df_fifth['DatabaseHave']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['DatabaseDesire'] = list(unified_df_fifth['DatabaseDesire']) + [np.nan]*seven_df.shape[0]

unified_df_sixth['WebframeHave'] = list(unified_df_fifth['WebframeHave']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['WebframeDesire'] = list(unified_df_fifth['WebframeDesire']) + [np.nan]*seven_df.shape[0]

unified_df_sixth['PlatformHave'] = list(unified_df_fifth['PlatformHave']) + [np.nan]*seven_df.shape[0]
unified_df_sixth['PlatformDesire'] = list(unified_df_fifth['PlatformDesire']) + [np.nan]*seven_df.shape[0]

In [219]:
unified_df_sixth.fillna('NA', inplace=True)
unified_df_sixth

,Year,SurveyLength,SOAccount,Country,Age,Gender,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Too long,Yes,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Appropriate in length,Yes,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Appropriate in length,Yes,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Too long,Yes,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516323,2016,NA,NA,NA,40-49,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
516324,2016,NA,NA,NA,40-49,NA,NA,NA,1.5,I'm a student,...,NA,Mac OS X,Arduino / Raspberry Pi; C; Java; Python; Swift,Swift,NA,NA,NA,NA,NA,NA
516325,2016,NA,NA,NA,50-59,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
516326,2016,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
516327,2016,NA,NA,NA,20-24,NA,NA,NA,3.5,Employed full-time,...,NA,Mac OS X,Arduino / Raspberry Pi; AngularJS; JavaScript;...,Arduino / Raspberry Pi; AngularJS; JavaScript;...,NA,NA,NA,NA,NA,NA

# 2016-2022 and 2015

The years onwards have multi-choice answers, which are spread into columns after the question column. This is why a function unifying these answers is used.

In [213]:
def column_unification(df,start_row,end_row):
    i = 0
    all_answers = []
    for row in range(0,df.shape[0]):
        answers = []
        for values in list(df.iloc[row,start_row:end_row]):
            if 'NA' in values:
                continue
            answers.append(values)
        if len(answers) == 0:
            answers.append('NA')
        all_answers.append(';'.join(answers))
    
    return all_answers

In [220]:
with open('Data_2011-2022\\survey_results_public_2015.csv', newline='') as csvfile:
    reader = csv.reader(csvfile,delimiter=',')
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 0:
            index = index + 1
            continue
            
        if index == 1:
            questions = row
            index = index + 1
            continue
            
        answers.append(row)
        index = index + 1
        
    eight_df = pd.DataFrame(answers, columns=questions)
    eight_df.replace('','NA',inplace=True)
    eight_df['Year'] = [2015] * eight_df.shape[0]

C:\Users\niila\AppData\Local\Temp\ipykernel_28928\2985380534.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  eight_df['Year'] = [2015] * eight_df.shape[0]

In [199]:
print(len(eight_df.columns))
print(eight_df.columns)

223
Index(['Country', 'Age', 'Gender', 'Tabs or Spaces',
       'Years IT / Programming Experience', 'Occupation',
       'Desktop Operating System', 'Desktop Operating System: write-in',
       'Current Lang & Tech: Android', 'Current Lang & Tech: Arduino',
       ...
       'How often are Stack Overflow's answers helpful',
       'Why answer: Help a programmer in need',
       'Why answer: Help future programmers',
       'Why answer: Demonstrate expertise', 'Why answer: Self promotion',
       'Why answer: Sense of responsibility to developers',
       'Why answer: No idea', 'Why answer: I don't answer and I don't want to',
       'Why answer: I don't answer but I want to', 'Year'],
      dtype='object', length=223)

In [200]:
print(len(unified_df_fifth.columns))
print(unified_df_fifth.columns)

25
Index(['Year', 'SOAccount', 'SurveyLength', 'Country', 'Age', 'Gender',
       'Ethnicity', 'EdLevel', 'YearsCode', 'Employment', 'DevType', 'OrgSize',
       'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [201]:
unified_question_set_six = set(unified_df_sixth.columns) 
eight_question_set = set(eight_df.columns) 

common_elements_seven = unified_question_set_six.intersection(eight_question_set)
print(len(common_elements_seven))
print(common_elements_seven)

4
{'Year', 'Gender', 'Country', 'Age'}

In [204]:
for value  in eight_df.columns:
    print(value)

Country
Age
Gender
Tabs or Spaces
Years IT / Programming Experience
Occupation
Desktop Operating System
Desktop Operating System: write-in
Current Lang & Tech: Android
Current Lang & Tech: Arduino
Current Lang & Tech: AngularJS
Current Lang & Tech: C
Current Lang & Tech: C++
Current Lang & Tech: C++11
Current Lang & Tech: C#
Current Lang & Tech: Cassandra
Current Lang & Tech: CoffeeScript
Current Lang & Tech: Cordova
Current Lang & Tech: Clojure
Current Lang & Tech: Cloud
Current Lang & Tech: Dart
Current Lang & Tech: F#
Current Lang & Tech: Go
Current Lang & Tech: Hadoop
Current Lang & Tech: Haskell
Current Lang & Tech: iOS
Current Lang & Tech: Java
Current Lang & Tech: JavaScript
Current Lang & Tech: LAMP
Current Lang & Tech: Matlab
Current Lang & Tech: MongoDB
Current Lang & Tech: Node.js
Current Lang & Tech: Objective-C
Current Lang & Tech: Perl
Current Lang & Tech: PHP
Current Lang & Tech: Python
Current Lang & Tech: R
Current Lang & Tech: Redis
Current Lang & Tech: Ruby
Current Lang & Tech: Rust
Current Lang & Tech: Salesforce
Current Lang & Tech: Scala
Current Lang & Tech: Sharepoint
Current Lang & Tech: Spark
Current Lang & Tech: SQL
Current Lang & Tech: SQL Server
Current Lang & Tech: Swift
Current Lang & Tech: Visual Basic
Current Lang & Tech: Windows Phone
Current Lang & Tech: Wordpress
Current Lang & Tech: Write-In
Future Lang & Tech: Android
Future Lang & Tech: Arduino
Future Lang & Tech: AngularJS
Future Lang & Tech: C
Future Lang & Tech: C++
Future Lang & Tech: C++11
Future Lang & Tech: C#
Future Lang & Tech: Cassandra
Future Lang & Tech: CoffeeScript
Future Lang & Tech: Cordova
Future Lang & Tech: Clojure
Future Lang & Tech: Cloud
Future Lang & Tech: Dart
Future Lang & Tech: F#
Future Lang & Tech: Go
Future Lang & Tech: Hadoop
Future Lang & Tech: Haskell
Future Lang & Tech: iOS
Future Lang & Tech: Java
Future Lang & Tech: JavaScript
Future Lang & Tech: LAMP
Future Lang & Tech: Matlab
Future Lang & Tech: MongoDB
Future Lang & Tech: Node.js
Future Lang & Tech: Objective-C
Future Lang & Tech: Perl
Future Lang & Tech: PHP
Future Lang & Tech: Python
Future Lang & Tech: R
Future Lang & Tech: Redis
Future Lang & Tech: Ruby
Future Lang & Tech: Rust
Future Lang & Tech: Salesforce
Future Lang & Tech: Scala
Future Lang & Tech: Sharepoint
Future Lang & Tech: Spark
Future Lang & Tech: SQL
Future Lang & Tech: SQL Server
Future Lang & Tech: Swift
Future Lang & Tech: Visual Basic
Future Lang & Tech: Windows Phone
Future Lang & Tech: Wordpress
Future Lang & Tech: Write-In
Training & Education: No formal training
Training & Education: On the job
Training & Education: Boot camp or night school
Training & Education: Online Class
Training & Education: Mentorship
Training & Education: Industry certification
Training & Education: Some college, but no CS degree
Training & Education: BS in CS
Training & Education: Masters in CS
Training & Education: PhD in CS
Training & Education: Other
Compensation
Compensation: midpoint
Employment Status
Industry
Job Satisfaction
Purchasing Power
Remote Status
Changed Jobs in last 12 Months
Open to new job opportunities
Most important aspect of new job opportunity: Salary
Most important aspect of new job opportunity: Equity
Most important aspect of new job opportunity: Important decisions
Most important aspect of new job opportunity: Health insurance
Most important aspect of new job opportunity: Industry
Most important aspect of new job opportunity: Tech stack
Most important aspect of new job opportunity: Company size
Most important aspect of new job opportunity: Company stage
Most important aspect of new job opportunity: Work - Life balance
Most important aspect of new job opportunity: Advancement
Most important aspect of new job opportunity: Job title
Most important aspect of new job opportunity: Office location
Most important aspect of new job opportunity: Quality of colleagues
Most important aspect of new job opportunity: Company culture
Most important aspect of new job opportunity: Company reputation
Most important aspect of new job opportunity: Building something that matters
Most important aspect of new job opportunity: Remote working
Most important aspect of new job opportunity: Flexible work options
How important is remote when evaluating new job opportunity?
Most annoying about job search: Finding time
Most annoying about job search: Finding job I'm qualified for
Most annoying about job search: Finding interesting job
Most annoying about job search: Interesting companies rarely respond
Most annoying about job search: Writing and updating CV
Most annoying about job search: Taking time off work to interview
Most annoying about job search: The Interview
How often contacted by recruiters
Perception of recruiter contact
Perception of contact form: Email
Perception of contact form: LinkedIn
Perception of contact form: Xing
Perception of contact form: Phone
Perception of contact form: Stack Overflow Careers
Perception of contact form: Twitter
Perception of contact form: Facebook
Appealing message traits: Message is personalized
Appealing message traits: Code or projects mentioned
Appealing message traits: Stack Overflow activity mentioned
Appealing message traits: Team described
Appealing message traits: Company culture described
Appealing message traits: Salary information
Appealing message traits: Benefits & Perks
Appealing message traits: Stack Overflow Company Page
Most urgent info about job opportunity: Salary
Most urgent info about job opportunity: Benefits
Most urgent info about job opportunity: Company name
Most urgent info about job opportunity: Tech stack
Most urgent info about job opportunity: Office location
Most urgent info about job opportunity: Job title
Most urgent info about job opportunity: Colleagues
Most urgent info about job opportunity: Product details
Who do you want to communicate with about a new job opportunity: Headhunter
Who do you want to communicate with about a new job opportunity: In-house recruiter
Who do you want to communicate with about a new job opportunity: In-house tech recruiter
Who do you want to communicate with about a new job opportunity: Manager
Who do you want to communicate with about a new job opportunity: Developer
How can companies improve interview process: More live code
How can companies improve interview process: Flexible interview schedule
How can companies improve interview process: Remote interviews
How can companies improve interview process: Introduce me to boss
How can companies improve interview process: Introduce me to team
How can companies improve interview process: Gimme coffee
How can companies improve interview process: Show me workplace
How can companies improve interview process: Fewer brainteasers
How can companies improve interview process: Better preparation
Why try Stack Overflow Careers: No spam
Why try Stack Overflow Careers: Jobs site for programmers
Why try Stack Overflow Careers: Selection of revelant jobs
Why try Stack Overflow Careers: Showcase Stack Overflow activity
Why try Stack Overflow Careers: Jobs are on Stack Overflow
Why try Stack Overflow Careers: Other
How many caffeinated beverages per day?
How many hours programming as hobby per week?
How frequently land on or read Stack Overflow
Preferred text editor
Preferred text editor: write-in
Prefered IDE theme
Source control used: Git
Source control used: Mercurial
Source control used: SVN
Source control used: CVS
Source control used: Perforce
Source control used: TFS
Source control used: DCVS
Source control used: Bitkeeper
Source control used: Legacy / Custom
Source control used: I don't use source control
Source control used: write-in
Prefered Source Control
Prefered Source Control: write-in
Why use Stack Overflow: Help for job
Why use Stack Overflow: To give help
Why use Stack Overflow: Can't do job without it
Why use Stack Overflow: Maintain online presence
Why use Stack Overflow: Demonstrate expertise
Why use Stack Overflow: Communicate with others
Why use Stack Overflow: Receive help on personal projects
Why use Stack Overflow: Love to learn
Why use Stack Overflow: I don't use Stack Overflow
How often are Stack Overflow's answers helpful
Why answer: Help a programmer in need
Why answer: Help future programmers
Why answer: Demonstrate expertise
Why answer: Self promotion
Why answer: Sense of responsibility to developers
Why answer: No idea
Why answer: I don't answer and I don't want to
Why answer: I don't answer but I want to
Year

In [221]:
unified_df_seventh = pd.concat([unified_df_sixth[list(common_elements_seven)],eight_df[list(common_elements_seven)]], ignore_index=True)

unified_df_seventh['SurveyLength'] = list(unified_df_sixth['SurveyLength']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['SOAccount'] = list(unified_df_sixth['SOAccount']) + [np.nan]*eight_df.shape[0]

#unified_df_seventh['Country'] = list(unified_df_sixth['Country']) + list(seven_df['country'])
#unified_df_seventh['Age'] = list(unified_df_sixth['Age']) + list(seven_df['age_range'])
#unified_df_seventh['Gender'] = list(unified_df_sixth['Gender']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['Ethnicity'] = list(unified_df_sixth['Ethnicity']) + [np.nan]*eight_df.shape[0]

unified_df_seventh['EdLevel'] = list(unified_df_sixth['EdLevel']) + column_unification(eight_df,94,105)
unified_df_seventh['YearsCode'] = list(unified_df_sixth['YearsCode']) + list(eight_df['Years IT / Programming Experience'])

unified_df_seventh['Employment'] = list(unified_df_sixth['Employment']) + list(eight_df['Employment Status'])
unified_df_seventh['DevType'] = list(unified_df_sixth['DevType']) + list(eight_df['Occupation'])
unified_df_seventh['OrgSize'] = list(unified_df_sixth['OrgSize']) + [np.nan]*eight_df.shape[0]

unified_df_seventh['CompTotal'] = list(unified_df_sixth['CompTotal']) + list(eight_df['Compensation'])
unified_df_seventh['CompFreq'] = list(unified_df_sixth['CompFreq']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['ConvertedCompYearly'] = list(unified_df_sixth['ConvertedCompYearly']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['Currency'] = list(unified_df_sixth['Currency']) + [np.nan]*eight_df.shape[0]

unified_df_seventh['OpSys'] = list(unified_df_sixth['OpSys']) + column_unification(eight_df,6,8)

unified_df_seventh['LanguageHave'] = list(unified_df_sixth['LanguageHave']) + column_unification(eight_df,8,51) 
unified_df_seventh['LanguageDesire'] = list(unified_df_sixth['LanguageDesire']) + column_unification(eight_df,51,94)

unified_df_seventh['DatabaseHave'] = list(unified_df_sixth['DatabaseHave']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['DatabaseDesire'] = list(unified_df_sixth['DatabaseDesire']) + [np.nan]*eight_df.shape[0]

unified_df_seventh['WebframeHave'] = list(unified_df_sixth['WebframeHave']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['WebframeDesire'] = list(unified_df_sixth['WebframeDesire']) + [np.nan]*eight_df.shape[0]

unified_df_seventh['PlatformHave'] = list(unified_df_sixth['PlatformHave']) + [np.nan]*eight_df.shape[0]
unified_df_seventh['PlatformDesire'] = list(unified_df_sixth['PlatformDesire']) + [np.nan]*eight_df.shape[0]

In [223]:
unified_df_seventh.fillna('NA', inplace=True)
unified_df_seventh

,Year,Gender,Country,Age,SurveyLength,SOAccount,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,NA,Canada,NA,Too long,Yes,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Man,United Kingdom of Great Britain and Northern I...,25-34 years old,Appropriate in length,Yes,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Man,Israel,35-44 years old,Appropriate in length,Yes,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,NA,United States of America,25-34 years old,Too long,Yes,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542409,2015,Male,Vietnam,20-24,NA,NA,NA,NA,1 - 2 years,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
542410,2015,Male,Vietnam,25-29,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
542411,2015,Male,Vietnam,25-29,NA,NA,NA,NA,2 - 5 years,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
542412,2015,NA,Zimbabwe,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
542413,2015,Prefer not to disclose,Zimbabwe,Prefer not to disclose,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

# 2015-2022 and 2014

In [224]:
with open('Data_2011-2022\\survey_results_public_2014.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 1:
            index = index + 1
            continue
            
        if index == 0:
            questions = row
            index = index + 1
            continue
            
        answers.append(row)
            
        index = index + 1
        
    nine_df = pd.DataFrame(answers, columns=questions)
    nine_df.replace('','NA',inplace=True)
    nine_df['Year'] = [2014] * nine_df.shape[0]

C:\Users\niila\AppData\Local\Temp\ipykernel_28928\3434589271.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  nine_df['Year'] = [2014] * nine_df.shape[0]

In [225]:
print(len(nine_df.columns))
print(nine_df.columns)

121
Index(['What Country do you live in?', '',
       'Which US State or Territory do you live in?', 'How old are you?',
       'What is your gender?',
       'How many years of IT/Programming experience do you have?',
       'Which of the following best describes your occupation?',
       'Including bonus, what is your annual compensation in USD?',
       'How would you best describe the industry you currently work in?',
       'How many developers are employed at your company?',
       ...
       'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'How do you use Stack Overflow?', '', '', '', '', '',
       'How often do you find solutions to your programming problems on Stack Overflow without asking a new question?',
       'Year'],
      dtype='object', length=121)

In [227]:
print(len(unified_df_sixth.columns))
print(unified_df_sixth.columns)

25
Index(['Year', 'SurveyLength', 'SOAccount', 'Country', 'Age', 'Gender',
       'Ethnicity', 'EdLevel', 'YearsCode', 'Employment', 'DevType', 'OrgSize',
       'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [228]:
unified_question_set_seven = set(unified_df_seventh.columns) 
nine_question_set = set(nine_df.columns) 

common_elements_eight = unified_question_set_seven.intersection(nine_question_set)
print(len(common_elements_eight))
print(common_elements_eight)

1
{'Year'}

In [229]:
for value  in nine_df.columns:
    print(value)

What Country do you live in?

Which US State or Territory do you live in?
How old are you?
What is your gender?
How many years of IT/Programming experience do you have?
Which of the following best describes your occupation?
Including bonus, what is your annual compensation in USD?
How would you best describe the industry you currently work in?
How many developers are employed at your company?
Do you work remotely?
Do you enjoy working remotely?
Where do you work remotely most of the time?
If your company has a native mobile app, what platforms do you support?






In an average week, how do you spend your time at work?








What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)




What types of purchases are you involved in?






What is your budget for outside expenditures (hardware, software, consulting, etc) for 2014?
Which of the following languages or technologies have you used significantly in the past year?











Which technologies are you excited about?












Which desktop operating system do you use the most?
Which technology products do you own? (You can choose more than one)













Have you changed jobs in the last 12 months?
How did you find out about your current job?

Are you currently looking for a job or open to new opportunities?
How often are you contacted by recruiters?
How do you prefer to be contacted about job opportunities?




In receiving an email about a job opportunity, what attributes of the message would make you more likely to respond?






How often do you visit job boards?
Have you visited / Are you aware of Stack Overflow Careers 2.0?
Do you have a Stack Overflow Careers 2.0 Profile?
Please rate the advertising you've seen on Stack Overflow






Were you aware of the Apptivate contest?
Did you participate in the Apptivate contest?
What advertisers do you remember seeing on Stack Overflow?
What is your current Stack Overflow reputation?
How do you use Stack Overflow?





How often do you find solutions to your programming problems on Stack Overflow without asking a new question?
Year

In [236]:
unified_df_eight = pd.concat([unified_df_seventh[list(common_elements_eight)],nine_df[list(common_elements_eight)]], ignore_index=True)

unified_df_eight['SurveyLength'] = list(unified_df_seventh['SurveyLength']) + [np.nan]*nine_df.shape[0]
unified_df_eight['SOAccount'] = list(unified_df_seventh['SOAccount']) + [np.nan]*nine_df.shape[0]

unified_df_eight['Country'] = list(unified_df_seventh['Country']) + list(nine_df['What Country do you live in?'])
unified_df_eight['Age'] = list(unified_df_seventh['Age']) + list(nine_df['How old are you?'])
unified_df_eight['Gender'] = list(unified_df_seventh['Gender']) + list(nine_df['What is your gender?'])
unified_df_eight['Ethnicity'] = list(unified_df_seventh['Ethnicity']) + [np.nan]*nine_df.shape[0]

unified_df_eight['EdLevel'] = list(unified_df_seventh['EdLevel']) + [np.nan]*nine_df.shape[0]
unified_df_eight['YearsCode'] = list(unified_df_seventh['YearsCode']) + list(nine_df['How many years of IT/Programming experience do you have?'])

unified_df_eight['Employment'] = list(unified_df_seventh['Employment']) + list(nine_df['Have you changed jobs in the last 12 months?'])
unified_df_eight['DevType'] = list(unified_df_seventh['DevType']) + list(nine_df['Which of the following best describes your occupation?'])
unified_df_eight['OrgSize'] = list(unified_df_seventh['OrgSize']) + list(nine_df['How many developers are employed at your company?'])

unified_df_eight['CompTotal'] = list(unified_df_seventh['CompTotal']) + list(nine_df['Including bonus, what is your annual compensation in USD?'])
unified_df_eight['CompFreq'] = list(unified_df_seventh['CompFreq']) + [np.nan]*nine_df.shape[0]
unified_df_eight['ConvertedCompYearly'] = list(unified_df_seventh['ConvertedCompYearly']) + [np.nan]*nine_df.shape[0]
unified_df_eight['Currency'] = list(unified_df_seventh['Currency']) + [np.nan]*nine_df.shape[0]

unified_df_eight['OpSys'] = list(unified_df_seventh['OpSys']) + list(nine_df['Which desktop operating system do you use the most?'])

unified_df_eight['LanguageHave'] = list(unified_df_seventh['LanguageHave']) + column_unification(nine_df,42,54)
unified_df_eight['LanguageDesire'] = list(unified_df_seventh['LanguageDesire']) + column_unification(nine_df,54,67)

unified_df_eight['DatabaseHave'] = list(unified_df_seventh['DatabaseHave']) + [np.nan]*nine_df.shape[0]
unified_df_eight['DatabaseDesire'] = list(unified_df_seventh['DatabaseDesire']) + [np.nan]*nine_df.shape[0]

unified_df_eight['WebframeHave'] = list(unified_df_seventh['WebframeHave']) + [np.nan]*nine_df.shape[0]
unified_df_eight['WebframeDesire'] = list(unified_df_seventh['WebframeDesire']) + [np.nan]*nine_df.shape[0]

unified_df_eight['PlatformHave'] = list(unified_df_seventh['PlatformHave']) + [np.nan]*nine_df.shape[0]
unified_df_eight['PlatformDesire'] = list(unified_df_seventh['PlatformDesire']) + [np.nan]*nine_df.shape[0]

"\nunified_three['Year'] = pd.concat([unified_two['Year'],three_df['Year']], ignore_index=True)\n\nunified_three['Gender'] = pd.concat([unified_two['Gender'],three_df['What is your gender?']], ignore_index=True)\n\nunified_three['Country'] = pd.concat([unified_two['Country'],three_df['What Country do you live in?']], ignore_index=True)\nunified_three['Age'] = pd.concat([unified_two['Age'],three_df['How old are you?']], ignore_index=True)\nunified_three['YearsCode'] = pd.concat([unified_two['YearsCode'],three_df['How many years of IT/Programming experience do you have?']], ignore_index=True)\n\nunified_three['DevType'] = pd.concat([unified_two['DevType'],three_df['Which of the following best describes your occupation?']], ignore_index=True)\nunified_three['CompTotal'] = pd.concat([unified_two['CompTotal'],three_df['Including bonus, what is your annual compensation in USD?']], ignore_index=True)\nunified_three['OrgSize'] = pd.concat([unified_two['OrgSize'],three_df['How many developers are employed at your company?']], ignore_index=True)\nunified_three['Employment'] = pd.concat([unified_two['Employment'],three_df['Have you changed jobs in the last 12 months?']], ignore_index=True)\nunified_three['OpSys'] = pd.concat([unified_two['OpSys'],three_df['Which desktop operating system do you use the most?']], ignore_index=True)\n\nunified_three['SurveyLength'] = list(unified_two['SurveyLength']) + [np.nan]*three_df.shape[0]\nunified_three['EdLevel'] = list(unified_two['EdLevel']) + [np.nan]*three_df.shape[0]\nunified_three['Ethnicity'] = list(unified_two['Ethnicity']) + [np.nan]*three_df.shape[0]\n\nunified_three['LanguageHave'] = list(unified_two['LanguageHave']) + column_unification(three_df,42,54) \nunified_three['LanguageDesire'] = list(unified_two['LanguageDesire']) + column_unification(three_df,54,67) \nunified_three['DatabaseHave'] = list(unified_two['DatabaseHave']) + [np.nan]*three_df.shape[0]\nunified_three['DatabaseDesire'] = list(unified_two['DatabaseDesire']) + [np.nan]*three_df.shape[0]\nunified_three['WebframeHave'] = list(unified_two['WebframeHave']) + [np.nan]*three_df.shape[0]\nunified_three['WebframeDesire'] = list(unified_two['WebframeDesire']) + [np.nan]*three_df.shape[0]\nunified_three['PlatformHave'] = list(unified_two['PlatformHave']) + column_unification(three_df,13,20)\nunified_three['PlatformDesire'] = list(unified_two['PlatformDesire']) + [np.nan]*three_df.shape[0]\n"

In [238]:
unified_df_eight.fillna('NA', inplace=True)
unified_df_eight

,Year,SurveyLength,SOAccount,Country,Age,Gender,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Too long,Yes,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Appropriate in length,Yes,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Appropriate in length,Yes,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Too long,Yes,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550052,2014,NA,NA,United States,51-60,Male,NA,NA,11,No,...,NA,Linux,C;C++;Java;Python,NA,NA,NA,NA,NA,NA,NA
550053,2014,NA,NA,Canada,25-29,Male,NA,NA,2/5/2014,No,...,NA,Windows XP,C#;JavaScript;Objective-C;SQL,CoffeeScript;C++11,NA,NA,NA,NA,NA,NA
550054,2014,NA,NA,United States,35-39,Male,NA,NA,11,No,...,NA,Windows 7,Java;JavaScript;SQL;Groovy,NA,NA,NA,NA,NA,NA,NA
550055,2014,NA,NA,United States,25-29,Male,NA,NA,6/10/2014,No,...,NA,Windows 8,C#;VB.NET,Node.js;MongoDB;F#;AngularJS,NA,NA,NA,NA,NA,NA
550056,2014,NA,NA,United States,< 20,Male,NA,NA,<2,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

# 2014-2022 and 2013

In [241]:
with open('Data_2011-2022\\survey_results_public_2013.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 1:
            index = index + 1
            continue
            
        if index == 0:
            questions = row
            index = index + 1
            continue
            
        answers.append(row)
            
        index = index + 1
        
    ten_df = pd.DataFrame(answers, columns=questions)
    ten_df.replace('','NA',inplace=True)
    ten_df['Year'] = [2013] * ten_df.shape[0]

C:\Users\niila\AppData\Local\Temp\ipykernel_28928\4187278539.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ten_df['Year'] = [2013] * ten_df.shape[0]

In [242]:
print(len(ten_df.columns))
print(ten_df.columns)

129
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you currently work in?',
       'How many people work for your company?',
       'Which of the following best describes your occupation?',
       'Including yourself, how many developers are employed at your company?',
       'How large is the team that you work on?',
       'What other departments / roles do you interact with regularly?',
       ...
       '', '', '',
       'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'How do you use Stack Overflow?', '', '', '', 'Year'],
      dtype='object', length=129)

In [243]:
print(len(unified_df_seventh.columns))
print(unified_df_seventh.columns)

25
Index(['Year', 'Gender', 'Country', 'Age', 'SurveyLength', 'SOAccount',
       'Ethnicity', 'EdLevel', 'YearsCode', 'Employment', 'DevType', 'OrgSize',
       'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [245]:
unified_question_set_eight = set(unified_df_eight.columns) 
ten_question_set = set(ten_df.columns) 

common_elements_nine = unified_question_set_eight.intersection(ten_question_set)
print(len(common_elements_nine))
print(common_elements_nine)

1
{'Year'}

In [246]:
for value in ten_df.columns:
    print(value)

What Country or Region do you live in?
Which US State or Territory do you live in?
How old are you?
How many years of IT/Programming experience do you have?
How would you best describe the industry you currently work in?
How many people work for your company?
Which of the following best describes your occupation?
Including yourself, how many developers are employed at your company?
How large is the team that you work on?
What other departments / roles do you interact with regularly?









If your company has a native mobile app, what platforms do you support?






If you make a software product, how does your company make money? (You can choose more than one)







In an average week, how do you spend your time?







What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)






What types of purchases are you involved in?





What is your budget for outside expenditures (hardware, software, consulting, etc) for 2013?
Which of the following languages or technologies have you used significantly in the past year?













Which technologies are you excited about?










Which desktop operating system do you use the most?
Please rate how important each of the following characteristics of a company/job offer are to you.    Please select a MAXIMUM of 3 items as "Non-Negotiables" to help us identify the most important items, those where you would never consider a company if they didn't meet them.















Have you changed jobs in the last 12 months?
What best describes your career / job satisfaction?
Including bonus, what is your annual compensation in USD?
Which technology products do you own? (You can choose more than one)













In the last 12 months, how much money have you spent on personal technology-related purchases?
Please rate the advertising you've seen on Stack Overflow





What advertisers do you remember seeing on Stack Overflow?
What is your current Stack Overflow reputation?
How do you use Stack Overflow?



Year

In [249]:
unified_df_nine = pd.concat([unified_df_eight[list(common_elements_nine)],ten_df[list(common_elements_nine)]], ignore_index=True)

unified_df_nine['SurveyLength'] = list(unified_df_eight['SurveyLength']) + [np.nan]*ten_df.shape[0]
unified_df_nine['SOAccount'] = list(unified_df_eight['SOAccount']) + [np.nan]*ten_df.shape[0]

unified_df_nine['Country'] = list(unified_df_eight['Country']) + list(ten_df['What Country or Region do you live in?'])
unified_df_nine['Age'] = list(unified_df_eight['Age']) + list(ten_df['How old are you?'])
unified_df_nine['Gender'] = list(unified_df_eight['Gender']) + [np.nan]*ten_df.shape[0]
unified_df_nine['Ethnicity'] = list(unified_df_eight['Ethnicity']) + [np.nan]*ten_df.shape[0]

unified_df_nine['EdLevel'] = list(unified_df_eight['EdLevel']) + [np.nan]*ten_df.shape[0]
unified_df_nine['YearsCode'] = list(unified_df_eight['YearsCode']) + list(ten_df['How many years of IT/Programming experience do you have?'])

unified_df_nine['Employment'] = list(unified_df_eight['Employment']) + list(ten_df['Have you changed jobs in the last 12 months?'])
unified_df_nine['DevType'] = list(unified_df_eight['DevType']) + list(ten_df['Which of the following best describes your occupation?'])
unified_df_nine['OrgSize'] = list(unified_df_eight['OrgSize']) + list(ten_df['Including yourself, how many developers are employed at your company?'])

unified_df_nine['CompTotal'] = list(unified_df_eight['CompTotal']) + list(ten_df['Including bonus, what is your annual compensation in USD?'])
unified_df_nine['CompFreq'] = list(unified_df_eight['CompFreq']) + [np.nan]*ten_df.shape[0]
unified_df_nine['ConvertedCompYearly'] = list(unified_df_eight['ConvertedCompYearly']) + [np.nan]*ten_df.shape[0]
unified_df_nine['Currency'] = list(unified_df_eight['Currency']) + [np.nan]*ten_df.shape[0]

unified_df_nine['OpSys'] = list(unified_df_eight['OpSys']) + list(ten_df['Which desktop operating system do you use the most?'])

unified_df_nine['LanguageHave'] = list(unified_df_eight['LanguageHave']) + column_unification(ten_df,56,70)
unified_df_nine['LanguageDesire'] = list(unified_df_eight['LanguageDesire']) + column_unification(ten_df,70,81)

unified_df_nine['DatabaseHave'] = list(unified_df_eight['DatabaseHave']) + [np.nan]*ten_df.shape[0]
unified_df_nine['DatabaseDesire'] = list(unified_df_eight['DatabaseDesire']) + [np.nan]*ten_df.shape[0]

unified_df_nine['WebframeHave'] = list(unified_df_eight['WebframeHave']) + [np.nan]*ten_df.shape[0]
unified_df_nine['WebframeDesire'] = list(unified_df_eight['WebframeDesire']) + [np.nan]*ten_df.shape[0]

unified_df_nine['PlatformHave'] = list(unified_df_eight['PlatformHave']) + [np.nan]*ten_df.shape[0]
unified_df_nine['PlatformDesire'] = list(unified_df_eight['PlatformDesire']) + [np.nan]*ten_df.shape[0]

In [251]:
unified_df_nine.fillna('NA', inplace=True)
unified_df_nine

,Year,SurveyLength,SOAccount,Country,Age,Gender,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Too long,Yes,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Appropriate in length,Yes,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Appropriate in length,Yes,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Too long,Yes,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559794,2013,NA,NA,United States of America,30-34,NA,NA,NA,11,Yes,...,NA,Mac OS X,C;C++;Python;MATLAB,Node.js;Haskell;C++11;F#,NA,NA,NA,NA,NA,NA
559795,2013,NA,NA,United States of America,20-24,NA,NA,NA,2/5/2013,Yes,...,NA,Windows 8,C#,NA,NA,NA,NA,NA,NA,NA
559796,2013,NA,NA,United Kingdom,20-24,NA,NA,NA,2/5/2013,Yes,...,NA,Windows 8,C++;Java;JavaScript;jQuery;Node.js;PHP,Node.js;Redis,NA,NA,NA,NA,NA,NA
559797,2013,NA,NA,Other Europe,30-34,NA,NA,NA,6/10/2013,Yes,...,NA,Mac OS X,C#;JavaScript;jQuery;SQL,NA,NA,NA,NA,NA,NA,NA
559798,2013,NA,NA,United Kingdom,25-29,NA,NA,NA,6/10/2013,Yes,...,NA,Windows 8,C#;JQuery;SQL,Node.js;WinRT;F#,NA,NA,NA,NA,NA,NA

# 2013-2022 and 2012

In [252]:
with open('Data_2011-2022\\survey_results_public_2012.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 1:
            index = index + 1
            continue
            
        if index == 0:
            questions = row
            index = index + 1
            continue
            
        answers.append(row)
            
        index = index + 1
        
    eleven_df = pd.DataFrame(answers, columns=questions)
    eleven_df.replace('','NA',inplace=True)
    eleven_df['Year'] = [2012] * eleven_df.shape[0]

In [253]:
print(len(eleven_df.columns))
print(eleven_df.columns)

76
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you currently work in?',
       'Which best describes the size of your company?',
       'Which of the following best describes your occupation?',
       'What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)',
       '', '', '', '', '', '', 'What types of purchases are you involved in?',
       '', '', '', '', '',
       'What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?',
       'What type of project are you developing?',
       'Which languages are you proficient in?', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '',
       'Which desktop operating system do you use the most?',
       'What best describes your career / job satisfaction? ',
       'Including bonus, what is your annual compensation in USD?',
       'Have you visited / Are you aware of Stack Overflow Careers?',
       'Do you have a Stack Overflow Careers Profile?',
       'You answered you don't have a Careers profile, can you elaborate why?',
       '',
       'Which technology products do you own? (You can choose more than one)',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '',
       'In the last 12 months, how much money have you spent on personal technology-related purchases? ',
       'Please rate the advertising you've seen on Stack Overflow', '', '', '',
       '', '', 'What advertisers do you remember seeing on Stack Overflow?',
       'What is your current Stack Overflow reputation?',
       'Which of our sites do you frequent most?', '', 'Year'],
      dtype='object')

In [254]:
print(len(unified_df_eight.columns))
print(unified_df_eight.columns)

25
Index(['Year', 'SurveyLength', 'SOAccount', 'Country', 'Age', 'Gender',
       'Ethnicity', 'EdLevel', 'YearsCode', 'Employment', 'DevType', 'OrgSize',
       'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [255]:
unified_question_set_nine = set(unified_df_nine.columns) 
eleven_question_set = set(eleven_df.columns) 

common_elements_ten = unified_question_set_nine.intersection(eleven_question_set)
print(len(common_elements_ten))
print(common_elements_ten)

1
{'Year'}

In [258]:
for value in eleven_df.columns:
    print(value)

What Country or Region do you live in?
Which US State or Territory do you live in?
How old are you?
How many years of IT/Programming experience do you have?
How would you best describe the industry you currently work in?
Which best describes the size of your company?
Which of the following best describes your occupation?
What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)






What types of purchases are you involved in?





What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?
What type of project are you developing?
Which languages are you proficient in?














Which desktop operating system do you use the most?
What best describes your career / job satisfaction?
Including bonus, what is your annual compensation in USD?
Have you visited / Are you aware of Stack Overflow Careers?
Do you have a Stack Overflow Careers Profile?
You answered you don't have a Careers profile, can you elaborate why?

Which technology products do you own? (You can choose more than one)



















In the last 12 months, how much money have you spent on personal technology-related purchases?
Please rate the advertising you've seen on Stack Overflow





What advertisers do you remember seeing on Stack Overflow?
What is your current Stack Overflow reputation?
Which of our sites do you frequent most?

Year

In [267]:
unified_df_ten = pd.concat([unified_df_nine[list(common_elements_ten)],eleven_df[list(common_elements_ten)]], ignore_index=True)

unified_df_ten['SurveyLength'] = list(unified_df_nine['SurveyLength']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['SOAccount'] = list(unified_df_nine['SOAccount']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['Country'] = list(unified_df_nine['Country']) + list(eleven_df['What Country or Region do you live in?'])
unified_df_ten['Age'] = list(unified_df_nine['Age']) + list(eleven_df['How old are you?'])
unified_df_ten['Gender'] = list(unified_df_nine['Gender']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['Ethnicity'] = list(unified_df_nine['Ethnicity']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['EdLevel'] = list(unified_df_nine['EdLevel']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['YearsCode'] = list(unified_df_nine['YearsCode']) + list(eleven_df['How many years of IT/Programming experience do you have?'])

unified_df_ten['Employment'] = list(unified_df_nine['Employment']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['DevType'] = list(unified_df_nine['DevType']) + list(eleven_df['Which of the following best describes your occupation?'])
unified_df_ten['OrgSize'] = list(unified_df_nine['OrgSize']) + list(eleven_df['Which best describes the size of your company?'])

unified_df_ten['CompTotal'] = list(unified_df_nine['CompTotal']) + list(eleven_df['Including bonus, what is your annual compensation in USD?'])
unified_df_ten['CompFreq'] = list(unified_df_nine['CompFreq']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['ConvertedCompYearly'] = list(unified_df_nine['ConvertedCompYearly']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['Currency'] = list(unified_df_nine['Currency']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['OpSys'] = list(unified_df_nine['OpSys']) + list(eleven_df['Which desktop operating system do you use the most?'])

unified_df_ten['LanguageHave'] = list(unified_df_nine['LanguageHave']) + column_unification(eleven_df,22,37)
unified_df_ten['LanguageDesire'] = list(unified_df_nine['LanguageDesire']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['DatabaseHave'] = list(unified_df_nine['DatabaseHave']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['DatabaseDesire'] = list(unified_df_nine['DatabaseDesire']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['WebframeHave'] = list(unified_df_nine['WebframeHave']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['WebframeDesire'] = list(unified_df_nine['WebframeDesire']) + [np.nan]*eleven_df.shape[0]

unified_df_ten['PlatformHave'] = list(unified_df_nine['PlatformHave']) + [np.nan]*eleven_df.shape[0]
unified_df_ten['PlatformDesire'] = list(unified_df_nine['PlatformDesire']) + [np.nan]*eleven_df.shape[0]

In [261]:
unified_df_ten.fillna('NA', inplace=True)
unified_df_ten

,Year,SurveyLength,SOAccount,Country,Age,Gender,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Too long,Yes,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Appropriate in length,Yes,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Appropriate in length,Yes,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Too long,Yes,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566037,2012,NA,NA,Russia,20-24,NA,NA,NA,40944,NA,...,NA,Windows 7,Java,NA,NA,NA,NA,NA,NA,NA
566038,2012,NA,NA,Africa,20-24,NA,NA,NA,<2,NA,...,NA,Linux,CSS,NA,NA,NA,NA,NA,NA,NA
566039,2012,NA,NA,United States of America,20-24,NA,NA,NA,40944,NA,...,NA,Windows 7,Java,NA,NA,NA,NA,NA,NA,NA
566040,2012,NA,NA,Other Europe,40-50,NA,NA,NA,11,NA,...,NA,Linux,Prolog,NA,NA,NA,NA,NA,NA,NA
566041,2012,NA,NA,United States of America,30-34,NA,NA,NA,41070,NA,...,NA,Windows 7,CSS;SQL;C#;VB.NET,NA,NA,NA,NA,NA,NA,NA

# 2012-2022 and 2011

In [262]:
with open('Data_2011-2022\\survey_results_public_2011.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    questions = []
    answers = []
    index = 0
    for row in reader:
        if index == 1:
            index = index + 1
            continue
            
        if index == 0:
            questions = row
            index = index + 1
            continue
            
        answers.append(row)
            
        index = index + 1
        
    twelve_df = pd.DataFrame(answers, columns=questions)
    twelve_df.replace('','NA',inplace=True)
    twelve_df['Year'] = [2011] * twelve_df.shape[0]

In [263]:
print(len(twelve_df.columns))
print(twelve_df.columns)

66
Index(['What Country or Region do you live in?',
       'Which US State or Territory do you live in?', 'How old are you?',
       'How many years of IT/Programming experience do you have?',
       'How would you best describe the industry you work in?',
       'Which best describes the size of your company?',
       'Which of the following best describes your occupation?',
       'How likely is it that a recommendation you make will be acted upon?',
       'What is your involvement in purchasing? You can choose more than 1.',
       '', '', '', '', '', '', 'What types of purchases are you involved in?',
       '', '', '', '', '',
       'What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?',
       '', '', '', '', '', '', '', 'What type of project are you developing?',
       'Which languages are you proficient in?', '', '', '', '', '', '', '',
       '', '', '', '', '', 'What operating system do you use the most?',
       'Please rate your job/career satisfaction',
       'Including bonus, what is your annual compensation in USD?',
       'Which technology products do you own? (You can choose more than one)',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       'In the last 12 months, how much money have you spent on personal technology-related purchases? ',
       'Which of our sites do you frequent most?', 'Year'],
      dtype='object')

In [264]:
print(len(unified_df_eight.columns))
print(unified_df_eight.columns)

25
Index(['Year', 'SurveyLength', 'SOAccount', 'Country', 'Age', 'Gender',
       'Ethnicity', 'EdLevel', 'YearsCode', 'Employment', 'DevType', 'OrgSize',
       'CompTotal', 'CompFreq', 'ConvertedCompYearly', 'Currency', 'OpSys',
       'LanguageHave', 'LanguageDesire', 'DatabaseHave', 'DatabaseDesire',
       'WebframeHave', 'WebframeDesire', 'PlatformHave', 'PlatformDesire'],
      dtype='object')

In [265]:
unified_question_set_ten = set(unified_df_ten.columns) 
twelve_question_set = set(twelve_df.columns) 

common_elements_eleven = unified_question_set_ten.intersection(twelve_question_set)
print(len(common_elements_eleven))
print(common_elements_eleven)

1
{'Year'}

In [266]:
for value in twelve_df.columns:
    print(value)

What Country or Region do you live in?
Which US State or Territory do you live in?
How old are you?
How many years of IT/Programming experience do you have?
How would you best describe the industry you work in?
Which best describes the size of your company?
Which of the following best describes your occupation?
How likely is it that a recommendation you make will be acted upon?
What is your involvement in purchasing? You can choose more than 1.






What types of purchases are you involved in?





What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?







What type of project are you developing?
Which languages are you proficient in?












What operating system do you use the most?
Please rate your job/career satisfaction
Including bonus, what is your annual compensation in USD?
Which technology products do you own? (You can choose more than one)
















In the last 12 months, how much money have you spent on personal technology-related purchases?
Which of our sites do you frequent most?
Year

In [270]:
unified_df_elven = pd.concat([unified_df_ten[list(common_elements_eleven)],twelve_df[list(common_elements_eleven)]], ignore_index=True)

unified_df_elven['SurveyLength'] = list(unified_df_ten['SurveyLength']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['SOAccount'] = list(unified_df_ten['SOAccount']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['Country'] = list(unified_df_ten['Country']) + list(twelve_df['What Country or Region do you live in?'])
unified_df_elven['Age'] = list(unified_df_ten['Age']) + list(twelve_df['How old are you?'])
unified_df_elven['Gender'] = list(unified_df_ten['Gender']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['Ethnicity'] = list(unified_df_ten['Ethnicity']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['EdLevel'] = list(unified_df_ten['EdLevel']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['YearsCode'] = list(unified_df_ten['YearsCode']) + list(twelve_df['How many years of IT/Programming experience do you have?'])

unified_df_elven['Employment'] = list(unified_df_ten['Employment']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['DevType'] = list(unified_df_ten['DevType']) + list(twelve_df['Which of the following best describes your occupation?'])
unified_df_elven['OrgSize'] = list(unified_df_ten['OrgSize']) + list(twelve_df['Which best describes the size of your company?'])

unified_df_elven['CompTotal'] = list(unified_df_ten['CompTotal']) + list(twelve_df['Including bonus, what is your annual compensation in USD?'])
unified_df_elven['CompFreq'] = list(unified_df_ten['CompFreq']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['ConvertedCompYearly'] = list(unified_df_ten['ConvertedCompYearly']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['Currency'] = list(unified_df_ten['Currency']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['OpSys'] = list(unified_df_ten['OpSys']) + list(twelve_df['What operating system do you use the most?'])

unified_df_elven['LanguageHave'] = list(unified_df_ten['LanguageHave']) + column_unification(twelve_df,30,43)
unified_df_elven['LanguageDesire'] = list(unified_df_ten['LanguageDesire']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['DatabaseHave'] = list(unified_df_ten['DatabaseHave']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['DatabaseDesire'] = list(unified_df_ten['DatabaseDesire']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['WebframeHave'] = list(unified_df_ten['WebframeHave']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['WebframeDesire'] = list(unified_df_ten['WebframeDesire']) + [np.nan]*twelve_df.shape[0]

unified_df_elven['PlatformHave'] = list(unified_df_ten['PlatformHave']) + [np.nan]*twelve_df.shape[0]
unified_df_elven['PlatformDesire'] = list(unified_df_ten['PlatformDesire']) + [np.nan]*twelve_df.shape[0]

In [272]:
unified_df_elven.fillna('NA', inplace=True)
unified_df_elven

,Year,SurveyLength,SOAccount,Country,Age,Gender,Ethnicity,EdLevel,YearsCode,Employment,...,Currency,OpSys,LanguageHave,LanguageDesire,DatabaseHave,DatabaseDesire,WebframeHave,WebframeDesire,PlatformHave,PlatformDesire
0,2022,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2022,Too long,Yes,Canada,NA,NA,NA,NA,NA,"Employed, full-time",...,CAD\tCanadian dollar,macOS,JavaScript;TypeScript,Rust;TypeScript,NA,NA,NA,NA,NA,NA
2,2022,Appropriate in length,Yes,United Kingdom of Great Britain and Northern I...,25-34 years old,Man,White,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",14,"Employed, full-time",...,GBP\tPound sterling,Windows,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Angular.js,Angular;Angular.js,NA,NA
3,2022,Appropriate in length,Yes,Israel,35-44 years old,Man,White,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,"Employed, full-time",...,ILS\tIsraeli new shekel,Windows,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,NA,NA
4,2022,Too long,Yes,United States of America,25-34 years old,NA,NA,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",8,"Employed, full-time",...,USD\tUnited States dollar,Windows,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,Firebase;Microsoft Azure,Firebase;Microsoft Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568850,2011,NA,NA,United States of America,40-50,NA,NA,NA,11,NA,...,NA,Windows 7,JavaScript;CSS;SQL;C#;C++;C,NA,NA,NA,NA,NA,NA,NA
568851,2011,NA,NA,United States of America,20-24,NA,NA,NA,41435,NA,...,NA,Windows 7,JavaScript;CSS;SQL;C#,NA,NA,NA,NA,NA,NA,NA
568852,2011,NA,NA,Other Asia,20-24,NA,NA,NA,41310,NA,...,NA,Windows 7,JavaScript;CSS;PHP;SQL;C#,NA,NA,NA,NA,NA,NA,NA
568853,2011,NA,NA,United States of America,25-29,NA,NA,NA,41435,NA,...,NA,Mac OS X,JavaScript;PHP;Python;SQL;Perl,NA,NA,NA,NA,NA,NA,NA
568854,2011,NA,NA,United States of America,51-60,NA,NA,NA,41310,NA,...,NA,Linux,C#;C++;C,NA,NA,NA,NA,NA,NA,NA

In [273]:
unified_df_elven.to_csv('SO_surveys_preprocess_2011_2022.csv', index=False, sep='|')